.articles-wrap {
	padding: 0;
	@include mb(15px, 27px, $mixin-min-viewport, $mixin-max-viewport, 27px);
	&_margin_none {
		margin: 0 !important;
	}
	&_margin_m {
		@include mb(10px, 18px, $mixin-min-viewport, $mixin-max-viewport, 18px);
	}
	&_margin_s {
		margin-bottom: 12px;
		@include sm() {
			margin-bottom: 12px;
		}
		@include xl() {
			margin-bottom: 12px;
		}
	}
}
.articles-wrap__head {
	min-height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 10px 20px;
	border-bottom: 1px solid #eee;
	&_height_m {
		min-height: 61px;
	}
	&_height_s {
		min-height: 30px;
	}
	&_background_grey {
		background-color: #F8F8F8;
	}
	&_border_grey_dark {
		border-color: #BCBCBC;
	}
	&_border_raduis {
		border-radius: 5px;
	}
	&_vertical_padding_none {
		padding-top: 0;
		padding-bottom: 0;
	}
	&_border_botton_none {
		border-bottom: none;
	}
}
.articles-wrap__head-row {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0;
	}
	&_height_s {
		min-height: 30px;
	}
	&_title_Open-Sans {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: $OpenSans;
		}
	}
}

.article-wrap__caret {
	margin-right: -10px;
	// transform: rotate(0);
		transform: rotate(180deg);
	&.collapsed {
		transform: rotate(0);
	}
}

.article-wrap__checkox-list {
	margin: 20px 0 0;
}

.articles-wrap__body-foot {
	border-top: 1px solid #eee;
}
.articles-wrap__body-foot-in {
	padding: 6px 20px;
	min-height: 62px;
}

.articles-wrap__body {
	&_hide {
		display: none;
	}
}

.articles-wrap__content {
	// padding: 18px 20px 25px;
	padding-top: 18px;
	padding-bottom: 25px;
	@include pl(15px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
	@include pr(15px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
	p {
		font-size: 14px;
		color: #524F4F;
	}
	&_vertical_padding_m {
		padding-top: 10px;
		padding-bottom: 15px;
	}
	&_border_top_grey_dark {
		border-top: 1px solid #BCBCBC;;
	}
	&_padding_bottom_5 {
		padding-bottom: 5px;
	}
	&_padding_bottom_10 {
		padding-bottom: 10px;
	}
}

.articles-wrap__stat-wrap {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 17px;
	max-width: 310px;
}

.articles-wrap__stat-info {
	margin-left: -5px;
	margin-right: -5px;
}

.articles-wrap__chart {
	width: 100%;
	height: 384px;
}

.articles-wrap__content_padding_modal {
	@include pt(15px, 25px, $mixin-min-viewport, $mixin-max-viewport, 25px);
	@include pb(15px, 25px, $mixin-min-viewport, $mixin-max-viewport, 25px);
	@include pl(15px, 35px, $mixin-min-viewport, $mixin-max-viewport, 35px);
	@include pr(15px, 45px, $mixin-min-viewport, $mixin-max-viewport, 45px);
}