.aside-menu {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		margin: 6px 0;
		&:first-child {
			margin-top: 0
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		display: block;
		color: #707070;
		&:hover{
			text-decoration: none;
		}

	}
}