.aside {
	
}
.aside__in {
	height: 530px;
}
.aside__title {
	font-weight: 700;
	color: #444;
	@include mb(10px, 30px, $mixin-min-viewport, $mixin-max-viewport, 30px);
}
.aside__menu {
	
}

.aside__button {
	position: fixed;
	bottom: 30px;
	right: 30px;
}

