.balance {
	// margin: 5px 0;
}

.balance__name {
	display: block;

	font-size: 14px;
	font-weight: 600;
	color: #ADADAD;
}
.balance__button {
	background-color: transparent;
	padding: 0;
	border: none;

	font-size: 14px;
	font-weight: 600;
	color: #464646;
	text-align: center;
	font-family: $Montserrat;
	&:after {
		color: #DFDFDF;
		vertical-align: middle;
	}
}

.balance_white {
	.balance__button {
		color: #fff;
	}
	.dropdown-menu {
		.balance__button {
			color: $document-color;
		}
	}
}