.breadcrumbs {
	
	ul {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
		
		list-style: none;
	}
	li {
		color: #9B9B9B;
		&:after {
			content: '»';

			display: inline-block;
			margin-left: 5px;
			margin-right: 5px;

			color: #444;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
	a {
		color: #444;
	}
}