.constructor {
	padding-top: 40px;
	&_inline {
		padding: 0;
		margin-bottom: 20px;
	}
}
.constructor__title {
	margin-bottom: 45px;
	text-align: center;
	h2 {
		margin: 0;

		font-family: $Montserrat;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		color: #222;
	}
}

.constructor__add {
	max-width: none;
	transform: none;
}
.constructor__area {
	margin-bottom: 35px;
	padding-left: 15px;
	padding-right: 15px;
	@include sm() {
		padding-left: 30px;
		padding-right: 30px;
	}
	& > .constructor__area-button {
		display: block;
		width: auto;
		margin-left: -5px;
		margin-right: -5px;
	}
}
.constructor__area-title {
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 65px !important;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 10px 0;
	}
}
.constructor__area-title-link {
	display: inline-block;
	margin: 5px 0;
	.icon {
		font-size: 25px;
		color: #C7C7C7;
		transition: linear .1s;
	}
	&:hover {
		.icon {
			transform: scale(1.2, 1.2);
			color: #000;
		}
	}
}

.constructor__area-item {
	position: relative;
	margin-bottom: 20px;
	border: 1px dashed #C4C4C4;
	padding: 15px 5px 5px;
	@include sm() {
		padding: 20px 10px 5px;
	}
}
.constructor__area-item-tech {
	position: absolute;
	bottom: 100%;
	left: 7px;
	right: 7px;
	& > * {
		padding-left: 2px;
		padding-right: 2px;
	}
}
.constructor__area-link {
	display: inline-block;
	border: 1px dashed #C4C4C4;
	border-bottom: none;
	padding: 12px 18px;
	background-color: #fff;
	.icon {
		font-size: 18px;
		color: #C7C7C7;
		transition: linear .1s;
	}
	&:hover {
		.icon {
			transform: scale(1.2, 1.2);
			color: #000;
		}
	}
}
.constructor__area-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.constructor__area-item-in {
	position: relative;

	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 10px 10px 20px;
	margin-bottom: 15px;

	background-color: #F5F6FA;
	& + .constructor__area-button {
		height: auto;
		padding: 6px 10px;
		max-height: 42px;
		.button-add__in {
			font-size: 28px;
			line-height: 1;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
	&:hover {
		background-color: #E5FCE4;
		.constructor__area-descr {
			opacity: 1;
			visibility: visible;
		}
	}
}
.constructor__area-button {
	transform: none;
	background-color: transparent;
	max-width: none;
	width: 100%;
	box-shadow: none;
	flex: 1 1 auto;
	height: auto;
	background-color: #F5F6FA;

	display: flex;
	flex-direction: column;
	justify-content: center;
	.button-add__in {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 50px;
		@include md() {
			font-size: 100px;
		}
	}
	&_small {
		height: auto;
		padding: 6px 10px;
		max-height: 42px;
		.button-add__in {
			font-size: 28px;
			line-height: 1;
		}
	}
	&:hover {
		.button-add__in {
			border-color: #000;
			color: #000;
		}
	}
}


.constructor__area-descr {
	position: absolute;
	top: 40%;
	left: 30%;

	max-width: 120px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	background-color: #47CA6F;
	border-radius: 3px;
	box-shadow: 0 1px 7px rgba(#000, .07);

	opacity: 0;
	visibility: hidden;
	@include md() {
		flex-wrap: nowrap;
		max-width: none;
	}
	transition: linear .1s;
	.icon {
		// color: #fff;
		transition: linear .1s;
	}
	.icon-move {
		font-size: 14px;
		
	}
	.icon-edit {
		font-size: 13px;
	}
	.icon-box {
		font-size: 10px;
	}
}
.constructor__area-descr-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 7px 10px;
	
	font-size: 12px;
	color: #fff;
	font-weight: 400;
	line-height: 1;
	& + & {
		@include md() {
			border-left: 1px solid #56DE7F;
		}
	}
	&:first-child {
		width: 100%;
		display: block;
		line-height: 1.24;
		// white-space: nowrap;
		// text-overflow: ellipsis;
		// overflow: hidden;
		@include md() {
			max-width: 150px;
		}
	}
}
.constructor__area-descr-link {
	&:hover {
		.icon {
			transform: scale(1.2, 1.2);
		}
	}
}