[data-scroll="axisY"] {
	@include mmd() {
		overflow-y: auto;
		overflow-x: hidden;
	}
	.mCSB_container {
		margin-right: 20px;
		transition: linear .1s;
	}
	.mCSB_draggerRail {
		background: none;
	}
	.mCSB_scrollTools {
		width: 10px;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		width: 100%;
		background-color: #F3F3F3;

		border-radius: 60px;
	}
}

.scroll-aside-style {
	.mCSB_container {
		margin-right: 0;
		overflow: visible;
	}
	.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
		margin-right: 0;
	}
	.mCSB_draggerRail {
		background: none;
	}
	.mCSB_scrollTools {
		width: 4px;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		width: 100%;
		background-color: rgba(#fff, .1);

		border-radius: 60px;
	}
}