#dropzoneCollapse {
	.col {
		display: flex;
		flex-direction: column;
	}
}
#dropzone {
	background: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px dashed #929292;

	font-size: 14px;
	font-family: $Montserrat;
	font-weight: 600;
	color: #919191;
	.dz-default {
		span {
			display: inline-flex;
			flex-direction: column;
		}
	}
}