.footer {
	position: relative;
	z-index: 2;
	margin-top: auto;
	@include pt(10px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
	@include pb(12px, 24px, $mixin-min-viewport, $mixin-max-viewport, 24px);
	background-color: #fff;
	box-shadow: 0 -2px 14px rgba(#000, .07);
}
.footer__content {
	margin: 5px 0;
}