.front {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	@include mh(400px, 480px, $mixin-min-viewport, $mixin-max-viewport, 480px);
	@include pt(140px, 150px, $mixin-min-viewport, $mixin-max-viewport, 150px);
	background-size: cover;
	margin-bottom: 120px;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;

		background-color: rgba(#0037F0, .47);
	}
}
.front__bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	// z-index: 1;
}
.front__container {
	z-index: 2;
}
.front__content {
	color: #fff;

}