.header {
	@include pt(7px, 14px, $mixin-min-viewport, $mixin-max-viewport, 14px);
	@include pb(5px, 9px, $mixin-min-viewport, $mixin-max-viewport, 9px);
	background-color: #fff;
	box-shadow: 0 2px 14px rgba(#000, .07);
	transition: ease background-color .1s;
	position: relative;
	z-index: 2;
	&.stick {
		background-color: rgba(#000, .9);
		// border-radius: 0 0 5px 5px;
	}
	.row {
		@include mmd() {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
	.padding {
		@include mmd() {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}
.header_background_none {
	background-color: transparent;
	box-shadow: none;
}
.header_fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.header__sites {
	@include mr(5px, 100px, $mixin-min-viewport-mmd, $mixin-max-viewport, 100px);
	margin-top: 5px;
	margin-bottom: 5px;
	.button {
		@include mmd() {
			width: auto;
		}
	}
}

// .header__personal {
// 	@include mmd() {
// 		.personal__img {
// 			margin-right: 10px;
// 		}
// 		.personal__button {
// 			width: auto;
// 		}
// 		.personal__name {
// 			display: none;
// 		}
// 	}
// }

.header__hamburger {
	font-size: 25px;
	color: #fff;
	width: 40px;
	height: 40px;
}