.lang {
	// margin: 5px 0;
}
.lang__button {
	position: relative;
	padding: 9px 21px 7px 10px;
	border: 1px solid #DCDCDC;

	font-family: $Montserrat;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #9B9B9B;

	background-color: transparent;
	border-radius: 5px;
	&:after {
		position: absolute;
		top: 50%;
		right: 7px;

		margin-top: -.05em;

		border-top: 0.3em solid;
		border-right: 0.3em solid transparent;
		border-bottom: 0;
		border-left: 0.3em solid transparent;

		color: #D7DDDE;
	}
}
.lang__menu {

}
.lang__item {
	text-transform: uppercase;
}

.lang_white {
	.lang__button {
		color: #fff;
		border-color: #fff;
		&:after {
			color: #fff;
		}
	}
}
.lang_opacity {
	.lang__button {
		opacity: .5;
	}
}