.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	background-color: $document-background;

	// transition: ease .3s;
	// opacity: 0;
	// visibility: hidden;
	svg {
		flex: 0 0 50%;
		width: 100%;
		max-width: 50%;
		height: 50%;
	}
	&.visible {
		opacity: 1;
	}
}

.loader__help {
	margin: 20px 0;
	flex: 0 0 100%;
	width: 100%;
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}

/*Rotate cogs*/

.cog-blue{
	transform-origin: 306.785px 190.5px;
	animation: spin 10s linear infinite;
	animation-delay: 0.8s;
	fill: #444 !important;
}

.cog-red {
	transform-origin: 207.352px 357.835px;
	animation: spin-reverse 10s linear infinite;
	animation-delay: 0.8s;
	fill: #444 !important;
}

.cog-yellow {
	transform-origin: 393.785px 409.5px;
	animation: spin 10s linear infinite;
	animation-delay: 0.8s;
	fill: #444 !important;
}

@keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin-reverse {
	100% {
		-moz-transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
