.media-list {
	&_columns-to-strokes {
		.preview-card {
			text-align: left;
		}
		.preview-card__title {
			// text-align: center;
		}
		.preview-card__descr {
			display: block;
		}
		@include sm() {
			.media-list__col {
				flex: 0 1 auto !important;
				max-width: none !important;
				text-align: left !important;
			}
			.preview-card {
				display: flex;
				flex-wrap: nowrap;
				align-items: flex-start;
				margin-left: -15px;
				margin-right: -15px;
			}
			.preview-card__title {
				flex: 1 1 auto;
				text-align: left;
			}
			.preview-card__in {
				width: 100%;
				flex: 0 0 180px;
				max-width: 180px;
				padding-left: 15px;
				padding-right: 15px;
				img {
					height: 100px;
				}
			}
		}
	}
	.preview-card__img {
		height: 170px;
		img {
			max-height: 100%;
		}
	}
}
.media-list__col {
	@include mb(20px, 40px, $mixin-min-viewport, $mixin-max-viewport, 40px);
}