.pagination {
	margin: 25px 0;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-end;
		width: 100%;
		margin: 0;
		padding: 0;


		list-style: none;

	}
	li {
		margin: 5px 3px 5px 2px;

		font-size: 12px;
		font-weight: 500;
		color: #474747;
	}
	a, span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 21px;
		height: 25px;

		background-color: #fff;
		font-size: 12px;
		font-weight: 500;
		color: #474747;
	}
	span {
		opacity: .5;
	}
	a {
		&:hover {
			box-shadow: 0 3px 6px rgba(#000, .07);
			text-decoration: none;
		}
	}
}

.v-pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	margin: 0;
	padding: 0;


	list-style: none;
}
.v-pagination__navigation {
	display: none;
}
.v-pagination__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 21px;
	height: 25px;
	padding: 0;
	margin: 5px 3px 5px 2px;

	background-color: #fff;
	font-size: 12px;
	font-weight: 500;
	color: #474747;

	border: none;
	&:hover {
		box-shadow: 0 3px 6px rgba(#000, .07);
		text-decoration: none;
	}
	&--active {
		opacity: .8;
	}
}