.personal-data {
	&_desktop_padding_left_87 {
		@include xl() {
			padding-left: 87px;
		}
	}
}
.personal-data__avatar-wrap {
	width: 100%;
	max-width: 152px;
	flex: 0 0 152px;
	margin-bottom: 15px;
}
.personal-data__avatar {
}
.personal-data__avatar-descr {
	flex: 1 1 auto;
	margin-bottom: 15px;
}