.preview-card {
	// overflow: hidden;
	// position: relative;
	display: inline-block;
	&:hover {
		.preview-card__in {
			&:before {
				width: 100%;
				height: 100%;
				opacity: 1;
				visibility: visible;
			}
		}
		.preview-card__buttons {
			opacity: 1;
			visibility: visible;
			transform: scale(1, 1);
			transition: ease .7s;
		}
		.preview-card__title {

		}
		.preview-card__marker {
			// z-index: auto;
		}
	}
	&.active {
		.preview-card__in {
			box-shadow: 0 3px 10px rgba(#287DEB, 1);
		}
		.preview-card__title {
			font-weight: 700;
		}
	}
}
.preview-card__in {
	display: inline-block;
	position: relative;
	border-radius: 3px;
	justify-content: center;
	

	transition: linear .1s;
	&:before {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
		z-index: 2;

		transform: translate(-50%, -50%);
		opacity: 0;
		visibility: hidden;
		transition: ease .3s;

		background-color: rgba(#A2C9FF, .64);
	}
	&_pseudo_none {
		&:before {
			display: none;
		}
	}
	img {
		transition: linear .1s;
	}
}
.preview-card__img {
	position: relative; 
	transition: ease .2s;
	display: inline-block;
	img {
		width: 250px;
		// height: 170px;
		object-fit: cover;
	}
}
.preview-card__buttons {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	opacity: 0;
	visibility: hidden;
	transition: ease .3s;

	will-change: transform;
	transform: scale(0.1, 0.1);
	.button-oval {
		@include mt(3px, 8px, $mixin-min-viewport, $mixin-max-viewport, 8px);
		@include mb(3px, 7px, $mixin-min-viewport, $mixin-max-viewport, 7px);
	}
}

.preview-card__title {
	padding: 10px;

	color: #6D6A6A;
	text-align: center;
	font-weight: 500;
	&_side-padding_none {
		padding-left: 0;
		padding-right: 0;
	}
}
.preview-card__title-in {
	word-break: break-all;
}

.preview-card__marker {
	position: absolute;
	left: 0;
	top: 6px;
	z-index: 1;
}


.preview-card_img_full {
	// display: block;
	.preview-card__in {
		// display: block;
	}
	img {
		// width: 100%;
		height: 170px;
		// height: 235px;
		@include mxl() {
			// height: 212px;
		}
		@include mlg() {
			// height: 190px;
		}
		@include msm() {
			// height: 140px;
		}
		@media only screen and (max-width: 450px) {
			// height: auto;
		}
	}
}

.preview-card__check {
	position: absolute;
	top: 0;
	left: -9999px;
	opacity: 0;
	visibility: hidden;
}

.preview-card__input {
	position: absolute;
	top: 0;
	left: -999px;
	opacity: 0;
	visibility: hidden;
	&:checked {
		& + .preview-card__in {
			img {
				box-shadow: 0 3px 10px rgba(#287DEB, 1);
			}
			.preview-card__pseudo-check {
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.preview-card__pseudo-check {
	position: absolute;
	top: 0;
	right: 0;

	width: 36px;
	height: 32px;

	background-color: #fff;
	&:before {
		content: '';

		position: absolute;
		top: 9px;
		left: 10px;

		width: 15px;
		height: 15px;

		border: 2px solid #3CD285;
	}
	&:after {
		content: '';
		position: absolute;
		top: 14px;
		left: 14px;

		width: 8px;
		height: 7px;

		background-image: url('../images/content/icon-select-green.svg');
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: contain;

		opacity: 0;
		visibility: hidden;
		transition: linear .1s;
	}
}

.preview-card__button {
	position: absolute;
	top: 0;
	right: 0;
}

.preview-card_media {
	.preview-card__in {
		@include msm() {
			// display: block;
		}
	}
	.preview-card__img {
		img {
			// display: block;
			@include msm() {
				// width: 100%;
				// height: auto;
			}
		}
	}
	.preview-card__title {
		position: relative;

		padding: 0 25px 0 0;
		margin-top: 3px;
		
		text-align: left;
	}
}
.preview-card__descr {
	font-size: 12px;
	font-weight: 400;
	margin: 10px 0;
	display: none;
	@include msm() {
		
	}
}