.section {
	@include pt(25px, 60px, $mixin-min-viewport, $mixin-max-viewport, 60px);
	@include pb(25px, 60px, $mixin-min-viewport, $mixin-max-viewport, 60px);
	&.section_has_sibling_aside {
		@media only screen and (min-width: 1420px) {
			padding-left: 0;
		}
		@include md() {
			padding-left: 115px;
		}
	}
}

.section-title {
	padding-bottom: 5px;
	margin-bottom: 15px;
	&_border {
		border-bottom: 1px solid #E3E3E3;
	}
	&_padding {
		padding-bottom: 10px;
	}
	&_padding_s {
		padding-bottom: 5px;
	}
	&_padding_sm {
		padding-bottom: 15px;
	}
	&_margin_bigger {
		margin-bottom: 20px;
	}
	&_margin_s {
		margin-bottom: 5px;
	}
	&_margin_sm {
		margin-bottom: 10px;
	}
	&_margin_l {
		margin-bottom: 30px;
	}
}
