.step {
	flex-grow: 1;
	// background-color: rgba(#000, .4);
	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	li {
		position: relative;
		width: 100%;
		max-width: 223px;
		height: 39px;

		display: flex;
		align-items: center;

		background-image: url('../images/design/step-bg.png');
		background-repeat: no-repeat;
		background-position: 100% 2px;
		background-size: contain;
		opacity: .5;
		& + li {
			margin-left: -25px;
		}
		&:first-child {
			background-image: url('../images/design/first-step-bg.png');
			background-position: 100% 5px;
			max-width: 174px;
			height: 39px;
			& > * {
				padding-left: 20px;
				padding-right: 10px;
			}
		}
		&.active {
			opacity: 1;
		}

		& > * {
			padding: 9px 20px 9px 35px;
			position: relative;
			z-index: 1;
			display: block;
			font-size: 12px;
			line-height: 1;
			font-weight: 700;
			color: #444;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&_margin_top_20 {
		margin-top: 20px;
	}
	&_margin_bottom_20 {
		margin-bottom: 20px;
	}
	&_pagination {
		li {
			opacity: 1;
			&.active {
				opacity: .5;
			}
		}
	}
}