.table {
	tr {
		transition: linear .1s;
	}
	th, td {
		padding: 10px;
		border: 1px solid #eee;
		transition: padding-bottom linear .1s;
		position: relative;
	}
	thead {
		a {
			color: #524F4F;
		}
	}
	.mini-table-title {
		display: block;
	}
	&_adaptive {
		@include mmd() {
			display: block;
			.table {
				display: block;
			}
			thead {
				display: none;
			}
			tbody {
				display: block;
			}
			tr {
				display: block;
				// margin-bottom: 20px;
				padding-bottom: 10px;
				padding-top: 10px;
			}
			th {
				display: block;
			}
			td {
				display: flex;
				align-items: flex-start;
				align-items: center;
				justify-content: space-between;
				&:before {
					content: attr(data-label) ':';
					display: block;
					margin: 5px 10px 5px 0;
					font-weight: 700;
				}
			}
		}
	}
	&_regular {
		line-height: 1.28;
		font-family: $Montserrat;
		thead {
			tr {
				&:last-child {
					border-bottom: 1px solid #EEEEEE;
				}
			}
		}
		tr {
			border: 1px solid #EEEEEE;
			&:last-child {
				border-bottom-color: transparent;
			}
			td, th {
				border: none;
				vertical-align: middle;
				padding: 5px 22px 4px;
				@include md() {
					width: 20%;
					&:first-child {
						width: 35%;
					}
				}
				@include mlg() {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
			th {
				font-weight: 700;
				padding-top: 13px;
				padding-bottom: 12px;
				a {
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
				img {
					margin-right: 20px;
				}
			}
			td {
				& > * {
					margin: 5px 0;
				}
			}
		}
		a {
			// text-decoration: underline;
			// color: #444444;
			&:hover {
				// text-decoration: none;
			}
		}
	}
	&_statistic_mini {
		tr {
			&:last-child {
				td {
					&:first-child {
						font-weight: 700;
					}
				}
			}
			td {
				&:first-child {
					font-weight: 500;
				}
				&:nth-child(2) {
					color: #4184D3;
				}
				&:nth-child(3) {
					color: #D34141;
				}
			}
			th {
				font-weight: 500;
			}
		}
		@include md() {
			text-align: center;
			thead {
				tr {
					&:last-child {
						border-bottom-color: transparent;
					}
				}
			}
			tr {
				&:last-child {
					border-bottom-color: #eee;
				}
				th, td {
					width: 30%;
					font-weight: 400;
					padding-top: 6px;
					padding-bottom: 6px;
					&:first-child {
						width: 40%;
						text-align: left;
						// padding-left: 0;
					}
					&:nth-child(2) {
						color: #4184D3;
					}
					&:nth-child(3) {
						color: #D34141;
					}
				}
			}
		}
		@include mmd() {
			tr {
				td, th {
					padding-left: 0;
					&:before {
						font-weight: 500;
					}
					&:first-child {
						&:before {
							display: none;
						}
					}
				}
			}
		}
	}
	&_articles {
		text-align: left;
		@include mlg() {
		}
		@include mmd() {
			thead {
				display: block;
				position: relative;
				tr {
					&:last-child {
						padding-left: 30px;
						td {
							padding-top: 0;
							padding-bottom: 0;
							&:before {
								width: 100%;
								max-width: 150px;
								flex: 0 1 150px;
								padding-top: 5px;
							}
							&:first-child {
								display: none;
							}
						}
						.form-group {
							flex: 1 1 auto;
						}
						.form-control_table {
							max-width: 100%;
						}
					}
				}
			}
			th {
				padding-top: 5px;
				padding-bottom: 5px;
				display: none;
				&:first-child {
					display: block;

					position: absolute;
					top: 30px;
					left: 0;
				}
			}
			tbody {
				tr {
					margin-bottom: 10px;
					display: flex;
					flex-direction: column;
					position: relative;
					padding-top: 35px;
				}
				td {
					flex-wrap: wrap;
					position: static;
					&:first-child {
						order: 6;
						.checkbox {
							position: absolute;
							top: 10px;
							left: 15px;
						}
						&:before {
							display: none;
						}
					}
				}
			}
			tr {
				th, td {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
		@include msm() {
			thead {
				tr {
					&:last-child {
						td {
							flex-wrap: wrap;
							&:before {
								flex: 0 1 auto;
								max-width: none;
							}
						}
					}
				}
			}
			td {
			}
		}
		thead {
			tr {
				&:last-child {
					background-color: #fff;
					box-shadow: 0 3px 6px rgba(#000, .16);
				}
			}
			td {
				&:before {
					// display: none;
				}
			}
		}
		tbody {
			&:before {
				content: '';
				line-height: 20px;
				height: 20px;
				// margin-top: 20px;
				color: #F5F6FA;
				// background-color: #F5F6FA;
				display: block;
			}
			tr {
				background-color: #fff;
			}
			td {
				@include md() {
					padding-top: 15px;
					padding-bottom: 42px;
				}
			}
		}
		tr {
			th, td {
				vertical-align: top;
				font-family: $OpenSans;
				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					font-family: $OpenSans;
				}
				@include md() {
					width: (100/6)+%;
					&:first-child {
						width: 1%;
						max-width: 40px;
						padding-left: 20px;
						padding-right: 5px;
						text-align: center;
					}
				}
			}
		}
	}
	// &_without_actions {
	// 	tbody {
	// 		tr {
	// 			td {
	// 				padding-bottom: 15px;
	// 			}
	// 		}
	// 	}
	// }
	&_user {
		thead {
			@include mmd() {
				display: none;
			}
		}
		tbody {
			tr {
				@include mmd() {
					padding-bottom: 25px;
				}
				td {
					padding-top: 6px;
					padding-bottom: 4px;
				}
				td {
					&:nth-child(2) {
						@include mmd() {
							display: block;
							padding-bottom: 5px;
							.table-user {
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
		tr {
			&:hover {
				.table__settings {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&_role {
		thead {
			@include mmd() {
				display: none;
			}
		}
		tbody {
			tr {
				@include mmd() {
					padding-bottom: 35px;
				}
			}
		}
	}
}

.table__settings {
	position: absolute;
	// bottom: 17px;
	bottom: 5px;
	left: 21px;

	min-width: 400px;

	opacity: 0;
	visibility: hidden;
	z-index: 10;

	@include mmd() {
		min-width: auto;
		opacity: 1;
		visibility: visible;
		position: static;
		z-index: auto;

		// flex: 1 1 auto;
		width: 100%;
		margin-top: 10px;
	}
	&_user {
		bottom: 6px;
		left: 85px;
		margin-left: 10px;
		@include mxl() {
			margin-left: 20px;
		}
		@include mmd() {
			position: absolute;
			bottom: 10px;
			left: 15px;
			margin: 0;
		}
	}
	&_role {
		bottom: 8px;
		left: 22px;
		@include mlg() {
			left: 15px;
		}
		@include mmd() {
			position: absolute;
			bottom: 10px;
		}
	}
	&_comments {
		left: 22px;
		@include mmd() {
			position: absolute;
			bottom: 5px;
			left: 15px;
		}
	}
}
tr {
	&:hover {
		& > td {
			& > .table-item-settings {
				@include md() {
					opacity: 1;
					visibility: visible;
				}
				// transition: .1s linear .2s;
			}
		}
		
	}
}
tr.hasSettings {
	background-color: #EAEFFC !important;
}


.table__comment {
	@include xl() {
		width: 240px;
	}
}


.table-category {
	.table {
		background-color: transparent;
		margin-bottom: 0;
		width: 100%;
		tbody {
			&:before {
				display: none;
			}
			tr {

			}
		}
	}
	thead {
		border: none;
		box-shadow: 0 3px 6px rgba(#000, .16);
	}
	tbody {
		&:before {
			content: '';

			display: block;
			background-color: transparent;
			margin-top: 20px;
		}
	}
	tr {
		background-color: #fff;
		border: 1px solid #eee;
		@include mmd() {
			position: relative;
			padding-top: 15px;
			padding-bottom: 30px;
		}
	}
	td, th {
		border: none;
		padding-top: 0;
		padding-bottom: 0;
		@include md() {
			padding-bottom: 30px;
			padding-top: 17px;
		}
		&:first-child {
			@include md() {
				padding-left: 20px;
				width: 1%;
			}
			@include mmd() {
				position: static;
				&:before {
					display: none;
				}
			}
		}
		& > * {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	.table__sub-tr {
		background-color: transparent;
		border: none;
		@include mmd() {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		&:hover {
			.table__settings {
				// opacity: 0;
				// visibility: hidden;
			}
		}
	}
	.table__sub-td {
		width: 100% !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		padding-right: 0 !important;
		padding-left: 30px !important;
		border: none;
		@include msm() {
			padding-left: 13px !important;
		}
		&:before {
			display: none;
			left: -11px !important;
			top: -2px;
			@include mmd() {
				left: -13px !important;
			}
		}
		&:after {
			display: none;
		}
		.table {
			margin: 0;
			tr {
				@include mmd() {
					position: relative;
					padding-bottom: 30px;
					padding-top: 10px;
				}
				&:hover {
					.table__settings {
						// opacity: 1;
						// visibility: visible;
					}
				}
				&:last-child {
					td {
						&:first-child {
							&:before {
								display: none;
							}
							&:after {
								border-left: 1px solid rgba(#707070, .2);
							}
						}
					}
				}
			}
			tbody {
				&:after {
					content: '';
					display: block;
					margin-bottom: 10px;
				}
			}
			td {
				padding-top: 22px;
				padding-bottom: 35px;
				@include mmd() {
					padding-top: 0;
					padding-bottom: 0;
				}
				&:first-child {
					@include mmd() {
						position: static;
						padding-left: 10px;
						padding-right: 10px;
					}
					&:before {
						content: '';

						position: absolute;
						display: block;
						left: -12px;
						top: 0;
						bottom: 0;
						border-left: 1px solid rgba(#707070, .2);

						margin-top: 0;
						@include mmd() {
							// height: 55%;
							margin: 0;
							top: -1px;
							left: -14px;
						}
					}
					&:after {
						content: '';
						position: absolute;
						top: -2px;
						right: 100%;
						height: 35px;
						// margin-right: 18px;
						width: 12px;
						border-bottom: 1px solid rgba(#707070, .2);
						@include mmd() {
							width: 14px;
							height: 21px;
						}
					} 

				}
				@include md() {
					&:nth-child(2) {
						width: 17.2%;
					}
					&:nth-child(3) {
						width: 16.8%;
					}
					&:nth-child(4) {
						width: 36.6%;
					}
				}
			}
		}
	}
	.table__settings {
		bottom: 0;
		@include md() {
			&:hover {

			}
		}
		@include mmd() {
			position: absolute;
			bottom: 0;
			left: 10px;
			// opacity: 1 !important;
			// visibility: visible !important;
		}
	}
	.checkbox {
		margin: 0;
	}
}