.wrapper {
	overflow: hidden;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	& > * {
		flex: 0 0 auto;
	}
}

.wrapper__content {
	flex: 1 1 auto;
	width: 100%;
	position: relative;
}