// functions
// =============================
// =============================

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
	@return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function calcValues($v-min, $v-max, $w-min, $w-max, $units: px) {
  $v-min: strip-unit($v-min);
  $v-max: strip-unit($v-max);
  $w-min: strip-unit($w-min);
  $w-max: strip-unit($w-max);
  
	$k: ($v-max - $v-min)/($w-max - $w-min);
	$b: $v-min - $k * $w-min;

	$b: $b + $units;

	@return calc( #{$k} * 100vw + #{$b} );
}


// =============================================
// =============================================







// fonts
// ================================
// ================================

@mixin fz($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  font-size: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  font-size: $fallback;
	}
	font-size: calcValues($v-min, $v-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
	font-size: $v-max;
  }
}

// ================================
@mixin lh($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  line-height: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  line-height: $fallback;
	}
	line-height: calcValues($v-min, $v-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
	line-height: $v-max;
  }
}
// ================================


// paddings
// ================================
// ================================


@mixin pt($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  padding-top: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  padding-top: $fallback;
	}
	padding-top: calcValues($v-min, $v-max, $w-min, $w-max, px);  
  }
  @media (min-width: $w-max) {
	padding-top: $v-max;
  }
}
@mixin pl($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
	padding-left: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	padding-left: $fallback;
	}
	padding-left: calcValues($v-min, $v-max, $w-min, $w-max, px);  
  }
  @media (min-width: $w-max) {
	padding-left: $v-max;
  }
}
@mixin pr($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  padding-right: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  padding-right: $fallback;
	}
	padding-right: calcValues($v-min, $v-max, $w-min, $w-max, px);  
  }
  @media (min-width: $w-max) {
	padding-right: $v-max;
  }
}
@mixin pb($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  padding-bottom: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  padding-bottom: $fallback;
	}
	padding-bottom: calcValues($v-min, $v-max, $w-min, $w-max, px);  
  }
  @media (min-width: $w-max) {
	padding-bottom: $v-max;
  }
}


// ================================
// ================================


// margins
// ================================
// ================================


@mixin mt($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  margin-top: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  margin-top: $fallback;
	}
	margin-top: calcValues($v-min, $v-max, $w-min, $w-max, px);  
  }
  @media (min-width: $w-max) {
	margin-top: $v-max;
  }
}
@mixin ml($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  margin-left: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  margin-left: $fallback;
	}
	margin-left: calcValues($v-min, $v-max, $w-min, $w-max, px);  
  }
  @media (min-width: $w-max) {
	margin-left: $v-max;
  }
}
@mixin mr($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  margin-right: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  margin-right: $fallback;
	}
	margin-right: calcValues($v-min, $v-max, $w-min, $w-max, px);  
  }
  @media (min-width: $w-max) {
	margin-right: $v-max;
  }
}
@mixin mb($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  margin-bottom: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  margin-bottom: $fallback;
	}
	margin-bottom: calcValues($v-min, $v-max, $w-min, $w-max, px);  
  }
  @media (min-width: $w-max) {
	margin-bottom: $v-max;
  }
}

// min-height
// =========================
// =========================

@mixin mh($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  min-height: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  min-height: $fallback;
	}
	min-height: calcValues($v-min, $v-max, $w-min, $w-max, px);  
  }
  @media (min-width: $w-max) {
	min-height: $v-max;
  }
}

// =========================
// =========================

// height
// =========================
// =========================

@mixin h($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  height: auto;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  height: $fallback;
	}
	height: calcValues($v-min, $v-max, $w-min, $w-max, px);  
  }
  @media (min-width: $w-max) {
	height: $v-max;
  }
}

// =========================
// =========================


@mixin top($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  top: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  top: $fallback;
	}
	top: calcValues($v-min, $v-max, $w-min, $w-max, px);  
  }
  @media (min-width: $w-max) {
	top: $v-max;
  }
}
@mixin right($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  right: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  right: $fallback;
	}
	right: calcValues($v-min, $v-max, $w-min, $w-max, px);  
  }
  @media (min-width: $w-max) {
	right: $v-max;
  }
}

// =========================
// =========================




// placeholder
// ===============


@mixin iph() {
	&.placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}

// =============================================
// =============================================





@mixin lcb() {
	& > * {
		@content;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.minh-100vh {
	min-height: 100vh;
}
.minh-sm-100vh {
	@include sm() {
		min-height: 100vh;
	}
}
.minh-md-100vh {
	@include md() {
		min-height: 100vh;
	}
}
.minh-lg-100vh {
	@include lg() {
		min-height: 100vh;
	}
}
.minh-xl-100vh {
	@include xl() {
		min-height: 100vh;
	}
}