.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-bar-chart {
  width: 0.947265625em;
}

.icon-caret-bottom {
  width: 2.123046875em;
}

.icon-chat {
  width: 1.08984375em;
}

.icon-dots {
  width: 0.25em;
}

.icon-exclamation {
  width: 0.2294921875em;
}

.icon-folded-newspaper {
  width: 0.9794921875em;
}

.icon-hdd {
  width: 0.7919921875em;
}

.icon-info {
  width: 0.44140625em;
}

.icon-select {
  width: 1.4140625em;
}

.icon-showcase {
  width: 1.052734375em;
}

.icon-view {
  width: 1.74609375em;
}
