$rem-font-size: 14px;
$Montserrat: 'Montserrat', sans-serif;
$OpenSans: 'Open Sans', sans-serif;

// values for body tag
$document-font-family: $Montserrat;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #524F4F;
$document-line-height: 1.5;
$document-background: #F5F6FA;

$mixin-min-viewport: 575px;
$mixin-min-viewport-mmd: 767px;
$mixin-max-viewport: 1200px;