.alert {
	display: inline-flex;
	align-items: center;
	margin: 5px 0;

	color: #fff;
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	font-family: $Montserrat;
	border-radius: 4px;
	padding: 6px 15px 5px;
}
.alert-warning {
	background-color: #FFCC58;
	border-color: #FFCC58;
}
.alert-primary {
	background-color: #58A5FF;
	border-color: #58A5FF;
}
.alert-danger {
	background-color: #FF585E;
	border-color: #FF585E;
}
.alert-success {
	background-color: #47CA6F;
	border-color: #47CA6F;
}

.alert__icon {
	margin-right: 10px;
	position: relative;
	top: -2px;
}