.aside-category {
	background-color: #293C52;
	@include md() {
		position: fixed;
		left: 0;
		top: 0;
		width: 115px;
		height: 100%;
		transition: linear .1s;
		z-index: 1;
	}
	@include mmd() {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;

		padding: 0 !important;

		will-change: transform;
		opacity: 0;
		visibility: hidden;
		transform: translate(0, -100%);
		transition: transform linear .2s,
					.2s opacity linear .1s,
					.2s visibility linear .1s;
		&.visible {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
			transition: transform linear .2s;
		}
	}
}
.aside-category__in {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	transition: linear .1s;
	@include md() {
		width: 115px;
	}
	
}
.aside-category__list {
	list-style: none;
	padding: 0;
	margin: 0;
	@include md() {
		min-height: auto;
	}
	@include mmd() {
		display: flex;
		flex-wrap: wrap;
		min-height: 100vh;

		padding-top: 40px;
		padding-bottom: 40px;
	}
	@media only screen and (max-width: 400px) {
		justify-content: flex-start;
	}
}
.aside-category__item {
	@include mmd() {
		width: 100%;
		flex: 0 0 33.3%;
		max-width: 33.3%;

		display: flex;
		flex-direction: column;
	}
	@media only screen and (max-width: 400px) {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
.aside-category__link {
	position: relative;
	display: block;
	padding-top: 21px;
	padding-bottom: 21px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;

	color: #91A3B8;
	@include fz(18px, 20px, 320px, 576px, 20px);
	@include md() {
		font-size: 14px;
	}
	@include mmd() {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&:after {
		content: '';

		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);

		border-right: 6px solid #fff;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;

		visibility: hidden;
		opacity: 0;
		display: none;
		@include md() {
			display: block;
		}
	}
	.icon {
		color: #7394B8;
		@include fz(50px, 70px, 480px, 576px, 70px);
		@include md() {
			font-size: 35px;
		}
	}
	&:hover {
		color: #91A3B8;
		text-decoration: none;
	}
	&_in {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	&:not(.collapsed) {
		color: #fff;
		background-color: #47CA6F;
		&:after {
			opacity: 1;
			visibility: visible;
		}
		.icon {
			color: #fff;
		}
		.indicator {
			background-color: #fff;
			color: #47CA6F;
		}
	}
}

.collapse_aside-category {
	@include mmd() {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		display: flex !important;
		flex-direction: column;
	
		opacity: 1;
		visibility: visible;
		transform: scale(1, 1);

		transition: linear .2s;
		background-color: #293C52;

		z-index: 999;
		&:not(.visible) {
			opacity: 0;
			visibility: hidden;
			transform: scale(.1, .1);
			transition: linear .2s;
		}
		.mCustomScrollbar {
			width: 100%;
		}
		.mCustomScrollBox {

		}
		.mCSB_container {
		}
		.aside-category__list {
			padding-top: 40px;
			width: 100%;
		}
		.aside-category__item {
			width: 100%;
			max-width: 33.3%;
			flex: 0 0 33.3%;
			padding-left: 15px;
			padding-right: 15px;
		}
		.aside-category__link {
			align-items: flex-start;
			justify-content: flex-start;
			text-align: left;
			padding: 0;
		}
	}
	@include msm() {
		.aside-category__item {
			width: 100%;
			max-width: 50%;
			flex: 0 0 50%;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.aside-category__link_in {
	@include mmd() {
		font-size: 16px;
	}
}

.aside-category__collapse {
	background-color: #293C52;
	@include mmd() {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		z-index: 2;

		display: flex !important;
		flex-direction: column;

		opacity: 0;
		visibility: hidden;
		transform: scale(.1, .1);
		transition: linear .2s;
		&.show {
			opacity: 1;
			visibility: visible;
			transform: scale(1, 1);
		}
	}
}

.aside-category__close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 15px 15px !important;
}