.background-wrap {
	padding: 17px 19px;
	
	border-radius: 5px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	width: 100%;
	&_shadow {
		box-shadow: 0 1px 7px rgba(#000, .07);
	}
	&_paddings_verticle_no {
		padding-top: 0;
		padding-bottom: 0;
	}
	&_paddings_no {
		padding: 0;
	}
	&_paddings_l {
		@include pt(15px, 28px, $mixin-min-viewport, $mixin-max-viewport, 28px);
		@include pb(15px, 28px, $mixin-min-viewport, $mixin-max-viewport, 28px);
		@include pl(20px, 37px, $mixin-min-viewport, $mixin-max-viewport, 37px);
		@include pr(20px, 37px, $mixin-min-viewport, $mixin-max-viewport, 37px);
	}
	&_paddings_ml {
		padding: 25px;
		@include mmd() {
			padding: 15px;
		}
	}
	&_max-width_300 {
		max-width: 300px;
	}
	&_backgound_dark {
		background-color: rgba(#000, .5);
	}
	&_background_beige {
		background-color: rgba(#E9E9E9, .2);
	}
	&_background_grey {
		background-color: #F5F6FA;
	}
	&_border_radius {
		border-radius: 4px;
	}
	&_border_radius_m {
		border-radius: 5px;
	}
	&_border {
		border: 1px solid #E9E9E9;
	}
	&_border_grey_dark {
		border-color: #BCBCBC;
	}
	&_margin_bottom_s {
		margin-bottom: 12px;
	}
	&_vertical_margins_l {
		@include mt(15px, 30px, $mixin-min-viewport, $mixin-max-viewport, 30px);
		@include mb(15px, 30px, $mixin-min-viewport, $mixin-max-viewport, 30px);
	}
	&_padding_top_20 {
		@include pt(15px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
	}
	&_padding_bottom_20 {
		@include pt(15px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
	}
	&_padding_right_35 {
		@include pr(15px, 35px, $mixin-min-viewport, $mixin-max-viewport, 35px);
	}
	&_padding_left_35 {
		@include pl(15px, 35px, $mixin-min-viewport, $mixin-max-viewport, 35px);
	}
}
