.button-clr {
	background-color: transparent;
	padding: 0;
	border: none;
}

.button {
	position: relative;
	display: inline-block;
	// width: 143px;
	padding: 9px 10px 7px;
	margin-top: 5px;
	margin-bottom: 5px;

	text-align: center;
	font-size: 14px;
	color: #9B9B9B;


	background-color: transparent;
	border: 1px solid #DCDCDC;
	border-radius: 4px;

	transition: ease .2s;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
	&:after {
		vertical-align: middle;
		color: #D7DDDE;
	}
	&_green {
		background-color: #47CA6F;
		border-color: #47CA6F;
		color: #fff;
		&:hover, &:focus {
			color: #fff;
			background-color: #28AF51;
			border-color: #28AF51;
		}
	}
	&_blue {
		background-color: #287DEB;
		border-color: #287DEB;
		color: #fff;
		&:hover, &:focus {
			color: #fff;
			background-color: #0C6DEB;
			border-color: #0C6DEB;
		}
	}
	&_blue_light {
		background-color: #4086F4;
		border-color: #4086F4;
		&:hover, &:focus {
			background-color: #2D76E8;
			border-color: #2D76E8;
		}
	}
	&_blue_dark {
		background-color: #1F52B6;
		border-color: #1F52B6;
		&:hover, &:focus {
			background-color: #133881;
			border-color: #133881;
		}
	}
	&_grey {
		background-color: #E9E9E9;
		border-color: #E9E9E9;
		color: #474747;
		&:hover, &:focus {
			background-color: #D8D3D3;
			border-color: #D8D3D3;
		}
	}
	&_padding_small {
		padding-top: 4px;
		padding-bottom: 3px;
	}
	&_white {
		border-color: #E2E2E2;
		background-color: #fff;

		color: #444;
	}
	&_orange {
		background-color: #ED7144;
		border-color: #ED7144;
		color: #fff;
		&:hover, &:focus {
			color: #fff;
		}
	}
	&_remove {
		background-color: #E9E9E9;
		border-color: #E9E9E9;
		color: #444;
		&:hover, &:focus {
			color: #444;
			background-color: #ddd;
			border-color: #ddd;
		}
	}
	&_shadow {
		box-shadow: 0 3px 6px rgba(#000, .16);
	}
	&_shadow_else {
		box-shadow: 0 3px 16px rgba(#000, .16);
	}
	&_margin_none {
		margin: 0;
	}
	&_margin_top_10 {
		margin-top: 10px;
	}
	&_border_radius_none {
		border-radius: 0;
	}
	&_padding_left_50 {
		padding-left: 50px;
	}
	&_padding_left_30 {
		padding-left: 30px;
	}
	&_padding_bottom_4 {
		padding-bottom: 4px;
	}
	&_font_size_12 {
		font-size: 12px;
	}
}




.button-add {
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: translate(0, 50%);
	max-width: 360px;
	padding: 15px;

	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 3px 10px rgba(#000, .06);

	&__in {
		display: block;
		border: 1px dashed #C4C4C4;

		font-size: 100px;
		font-weight: 500;
		color: #C7C7C7;
		text-align: center;
		transition: linear .1s;
	}
	&:hover, &:focus {
		text-decoration: none;
	}
	&_transform_none {
		transform: none;
	}
	&_background_grey {
		background-color: #F5F6FA;
		.button-add__in {
			border-color: #E8E8E8;
		}
	}
	&_background_transparent {
		background-color: transparent;
	}
	&_width_full {
		max-width: none;
		width: 100%;
	}
	&_small {
		height: auto;
		padding: 6px 10px;
		.button-add__in {
			font-size: 28px;
			line-height: 1;
		}
	}
}


.button-oval {
	position: relative;
	
	display: inline-block;
	padding: 5px 20px 4px 20px;

	color: #4C4C4C;

	background-color: #fff;
	border-radius: 52px;
	transition: ease .1s;
	.circle {
		position: absolute;

		top: 0;
		left: 0;
		transition: ease .1s;
		color: #008EF0;
		& + * {
			padding-left: 19px;
		}
	}
	&:hover, &:focus {
		text-decoration: none;
		opacity: .9;
	}
	&_green {
		background-color: #47CA6F;
		color: #fff;
		.circle {
			background-color: #47CA6F;
			color: #fff;
		}
		&:hover, &:focus {
			color: #fff;
			background-color: #28AF51;
			opacity: 1;
			.circle {
				background-color: #28AF51;
			}
		}
	}
}

.button_without_style {
	border-color: transparent;
	padding: 0;
	width: auto;
	color: #adadad;
}

.button__icon-wrap {
	position: absolute;
	left: -2px;
	top: -2px;
	bottom: -1px;

	background-color: #fff;
	padding: 4px 8px;
	&_background_transparent {
		background-color: transparent;
	}
	&_paddings_s {
		padding-left: 5px;
		padding-right: 5px;
	}
}