.cascade {
	padding: 0;
	margin: 0;
	list-style: none;
	.cascade {
		position: relative;
		padding-left: 40px;
		@include mmd() {
			padding-left: 20px;
		}
		.cascade__item {
			position: relative;
			&:before {
				content: '';

				position: absolute;
				top: -29px;
				left: -20px;
				bottom: 15px;

				border-left: 1px solid #bcbcbc;
				@include mmd() {
					left: -15px;
				}
				@include msm() {
					left: -10px;
				}
			}
			&:after {
				content: '';

				position: absolute;
				top: 0;
				height: 18px;
				left: -20px;
				width: 20px;
				border-bottom: 1px solid #bcbcbc;
				border-left: 1px solid #bcbcbc;
				@include mmd() {
					left: -15px;
					width: 15px;
				}
				@include msm() {
					left: -10px;
					width: 10px;
				}
			}
			&:first-child {
				&:before {
					top: -13px;
				}
			}
			&:last-child {
				&:before {
					bottom: auto;
					width: 20px;
					height: 31px;
				}
			}
		}
	}
}
.cascade__item {
}
.cascade__collapse {
	max-width: 450px;
}