.category-name {
	position: relative;
	// display: inline-block;
	text-align: center;
	font-family: $OpenSans;
	line-height: 1.35;
	&_font-famile_montserrat {
		font-family: $Montserrat;
	}
	&_font-weight_light {
		font-weight: 300;
	}
	&_green {
		background-color: #47CA6F;
		color: #fff;
		.category-name__icon {
			// color: #fff;
		}
		.category-name__txt {
			// color: #fff;
		}
	}
}
.category-name__icon {
	margin-bottom: 8px;
	font-size: 35px;
}
.category-name__txt {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.category-name__indicator {
	position: absolute;

	top: 0;
	right: 0;
	transform: translate(100%, -30%);
	@media only screen and (min-width: 400px) {
		transform: translate(100%, -50%);
	}
}

.category-name__icon-wrap {
	position: relative;
	display: inline-block;
}