.checkbox {
	display: inline-block;
	position: relative;
	margin: 5px 0;

	font-size: 12px;
	line-height: 1.3;
	font-weight: 700;
	color: #444;
	&_margin_none {
		margin: 0;
	}
	&_weight_regular {
		font-weight: 400;
	}
	&_family_Open-Sans {
		font-family: $OpenSans;
	}
	&_font-size_regular {
		font-size: $document-font-size;
	}
	&_color_black {
		color: #222;
	}
}
.checkbox__input {
	position: absolute;
	top: 0;
	left: -9999px;
	opacity: 0;
	visibility: hidden;
	&:checked {
		& + .checkbox__label {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.checkbox__label {
	margin: 0;
	padding-left: 15px;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;

		width: 15px;
		height: 15px;

		border: 2px solid #3CD285;
	}
	&:after {
		content: '';
		position: absolute;
		top: 5px;
		left: 4px;

		width: 8px;
		height: 6px;

		background-image: url('../images/content/icon-select-green.svg');
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: contain;

		opacity: 0;
		visibility: hidden;
		transition: linear .1s;
	}
	&_radio {
		padding-left: 12px;
		&:before {
			top: 1px;
			width: 12px;
			height: 12px;
			border-radius: 50%;
		}
		&:after {
			top: 5px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: #3CD285;
		}
	}
	&_radio_centered {
		&:before {
			top: 3px;
		}
		&:after {
			top: 7px;
		}
	}
	&_check_top_center {
		&:before {
			top: 1px;
		}
		&:after {
			top: 6px;
		}
	}
}

.checkbox__label-in {
	display: inline-block;
	padding-left: 5px;
	&_padding_left_10 {
		padding-left: 10px;
	}
}