.close {
	position: relative;
	z-index: 2;
	float: none;

	font-size: 40px;
	line-height: 1;

	text-shadow: none;
	opacity: 1;
	&:not(:disabled):not(.disabled):focus, &:not(:disabled):not(.disabled):hover {
		opacity: 1;
	}
	.icon {
		// width: auto;
		// height: auto;
	}
	&_white {
		color: #fff;
		&:not(:disabled):not(.disabled):focus, &:not(:disabled):not(.disabled):hover {
			color: #fff;
		}
	}
	&_green {
		color: #47CA6F;
		&:not(:disabled):not(.disabled):focus, &:not(:disabled):not(.disabled):hover {
			color: #47CA6F;
		}
	}
	&_white {
		color: #fff;
		&:not(:disabled):not(.disabled):focus, &:not(:disabled):not(.disabled):hover {
			color: #fff;
		}
	}
	&_purple_light {
		color: #AD8D99;
		&:not(:disabled):not(.disabled):focus, &:not(:disabled):not(.disabled):hover {
			color: #AD8D99;
		}
	}
	&_weight_primary {
		font-weight: 400;
	}
}