.collapse {
}

.collapse__menu-wrap {
	position: relative;

	list-style: none;
	padding: 15px 5px;
	&_background_dark_light {
		background-color: #415C7B;
		&:after {
			content: '';

			position: absolute;
			right: auto;
			top: 0;
			left: 50%;
			transform: translate(-50%, -100%);

			border-bottom: 6px solid #415C7B;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;

			@include md() {
				right: auto;
			}
		}
	}
	&_mobile_height_full {
		@include mmd() {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
		}
	}
}
.collapse__menu {
	padding: 0;
	list-style: none;
	margin: 0;

	flex: 1 1 auto;
	overflow-y: auto;
}
.collapse__menu-item {
}
.collapse__menu-link {
	display: block;

	color: #B2C3D6;
	text-align: center;
	@include fz(14px, 14px, 768px, 1200px, 14px);
	@include fz(18px, 20px, 480px, 576px, 20px);
	
	@include mmd() {
		// font-size: 16px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	&:hover {
		color: #B2C3D6;
		text-decoration: underline;
	}
}

.collapse__category-name {
	padding: 15px 10px;
	font-size: 25px;
}
.collapse__close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 15px 15px !important;
}