.comment {
	color: #524F4F;
	line-height: 1.42;
	@include mb(15px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
	@include mt(15px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
	padding-bottom: 7px;
	border-bottom: 1px solid #EEEEEE;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
		border-bottom: none;
		padding-bottom: 0;
	}
}
.comment__title {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	line-height: 1.28;
	font-weight: 500;
	color: #9B9B9B;
}
.comment__title-in {
	margin: 7px 0;
}
.comment__actions {
	margin-right: -10px;
	margin-left: -10px;
}
.comment__action {
	margin: 7px 0;
	font-weight: 400;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;

}
.comment__action_edit {
	color: #4184D3;
	&:hover {
		color: #4184D3;
	}
}
.comment__action_remove {
	color: #D34141;
	&:hover {
		color: #D34141;
	}
}
.comment__txt {

}