.content {
	&_font-family_Open-Sans {
		font-family: $OpenSans;
	}
	&_margin_l {
		@include mb(15px, 25px, $mixin-min-viewport, $mixin-max-viewport, 25px);
	}
}
h1 {
	@include fz(28px, 35px, $mixin-min-viewport, $mixin-max-viewport, 35px);
	font-weight: 500;
	margin-bottom: 15px;
}
h2 {
	font-size: 20px;
	font-weight: 700;
	color: #222;
	margin: 8px 0;
}
h3 {
	font-size: 14px;
	font-weight: 700;
	color: #444;
	&:only-child {
		margin: 0;
	}
}
h4 {
	font-size: 12px;
	font-weight: 700;
	color: #444;
}
h5 {
	
}
p {
	font-size: 16px;
}