.date-picker {
	.bootstrap-datetimepicker-widget {
		width: auto;
		opacity: 1;
		visibility: visible;
	}
	.form-control {
		margin: 0;
		border-radius: 4px !important;
	}
	.input-group-append {
		position: absolute;
		right: 0;
		top: 0;

		height: 100%;
		// border: none;
		
		border-radius: 0 4px 4px 0;
		background-color: transparent;
		&:before {
			content: '';

			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			height: 18px;
			width: 1px;

			background-color: #E2E2E2;
		}
	}
	.input-group-text {
		color: #D3D3D3;
		background-color: transparent;
		border: none;
		font-size: 16px;
	}
}