.dropdown {
	
}
.dropdown-menu {
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	display: block;
	margin-top: -10px;

	opacity: 0;
	visibility: hidden;
	// z-index: 1;
	
	&.show {
		margin-top: 5px;
		margin-bottom: 5px;

		opacity: 1;
		visibility: visible;
		transition: opacity ease .2s,
					visibility ease .2s,
					margin ease .2s;
	}
}
.dropdown-menu_width_auto {
	min-width: auto;
	width: auto;
}
.dropdown-item {

}
.dropdown-toggle {
	// position: relative;
	// z-index: 2;
	margin: 5px 0;
}
.dropdown-toggle_carret_none {
	&:after {
		display: none;
	}
}

.dropdown_select {
	.button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 195px;
		padding: 4px 10px 3px 12px;
		margin: 5px 0;

		color: #444;
		text-align: left;

		background-color: #fff;
		border-color: #e2e2e2;
	}
}