.file-info {
	// display: inline-block;
}
.file-info__item {
	@include sm() {
		// flex-wrap: nowrap;
	}
}
.file-info__name {
	width: 100%;
	max-width: 110px;
	flex: 0 0 110px;
	padding-top: 1px;
	
	font-size: 12px;
	text-align: right;
}
.file-info__value {

	flex: 0 1 auto;
}