.form-group {
	margin-bottom: 15px;
	&_margin_none {
		margin: 0 !important;
	}
	&_margin_ms {
		margin-bottom: 10px;
	}
}

.form-group_row {
	margin-left: -10px;
	margin-right: -10px;
	@include sm() {
		display: flex;
	}
	.label {
		margin-bottom: 0;
		width: 110px;
		@include sm() {
			margin-top: 11px;
			margin-bottom: 5px;
		}
	}
	.padding {
		padding-left: 10px;
		padding-right: 10px;
	}
}

