.hr {
	&_margin_top_23 {
		margin-top: 23px;
	}
	&_margin_bottom_25 {
		margin-bottom: 25px;
	}
	&_margin_bottom_20 {
		margin-bottom: 20px;
	}
	&_margin_bottom_15 {
		margin-bottom: 15px;
	}
	&_hr_margin_top_none {
		margin-top: 0;
	}
}