.iconText {
	display: flex;
	flex-wrap: nowrap;
	// width: 100%;
	&_margin_bottom_30 {
		@include mb(15px, 30px, $mixin-min-viewport, $mixin-max-viewport, 30px);
	}
}
.iconText__icon {
	flex-direction: column;
	display: flex;
	justify-content: flex-start;
	margin-right: 10px;

	font-size: 23px;
	color: #808080;
}
.iconText__wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex: 1 1 auto;
	& > * {
		flex: 1 1 auto;
		width: 100%;
	}
}

.iconText__value {
	margin-right: 10px;

	@include fz(25px, 36px, $mixin-min-viewport, $mixin-max-viewport, 36px);
	font-weight: 600;
	color: #444;
}

