.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	&_size_large {
		font-size: 100px;
	}
	&_color_white {
		color: #fff;
	}
	&_color_blue {
		color: #7394B8;
	}
	&_color_grey {
		color: #D6D6D6;
	}
	&_color_grey_dark {
		color: #464646;
	}
	&_size_1-5x {
		font-size: 14px;
	}
	&_size_20 {
		font-size: 20px;
	}
}


// .icon-dots__inner {
// 	display: inline-block;
// 	width: 4px;
// 	height: 4px;
// 	border-radius: 50%;
// 	background-color: #D6D6D6;
// 	font-size: 0;
// 	&:before, &:after {
// 		// position: absolute;
// 		// left: 0;
// 		content: '';
		
// 		display: inline-block;
// 		width: 4px;
// 		height: 4px;
// 		border-radius: 50%;
// 		background-color: #D6D6D6;
// 	}
// 	&:before {
// 		/* top: -6px; */
// 		margin-top: 6px;
// 	}
// 	&:after {
// 		// bottom: -6px;
// 		margin-top: 2px;
// 	}
// }

.icon-dots {
	font-size: 21px;
}

.icon-list-sort {
  width: 1.2568359375em;
}

.icon-search {
  width: 0.9658203125em;
}

.icon-icon-dashboard-blue {
  width: 1.2724609375em;
}

.icon-dots {
  width: 0.25em;
}

.icon-exclamation {
  width: 0.2294921875em;
}

.icon-info {
  width: 0.44140625em;
}

.icon-select {
  width: 1.4140625em;
}
