.indicator {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1px 5px 1px;
	
	min-width: 21px;
	height: 14px;

	font-size: 11px;
	// line-height: 1;
	font-weight: 600;
	color: #fff;

	background-color: #00C293;
	border-radius: 100px;
}