.input, .form-control {
	width: 100%;
	border: 1px solid #E2E2E2;
	padding: 5px 10px 5px;
	height: auto;
	margin: 5px 0;

	color: #444;
	line-height: 1;

	border-radius: 4px;
	background-color: #fff;
	transition: linear .1s;
	@include iph() {
		color: #444;
		line-height: 1;
	}
	&:hover, &:focus {
		outline: none !important;
		box-shadow: 0 3px 16px rgba(#000, .16);
		border-color: transparent;
	}
	&_table {
		max-width: 185px;
		border-radius: 4px;
		background-color: #F5F6FA;
		border-color: #BCBCBC;
		&:hover, &:focus {
			box-shadow: none;
			border-color: #bcbcbc;
		}
	}
	&_table_width_s {
		max-width: 138px;
	}
}

textarea.form-control {
	// resize: none;
}

.form-control_margin_bottom_none {
	margin-bottom: 0;
}

.input-hidden {
	position: absolute;
	top: 0;
	left: -9999px;
	opacity: 0;
	visibility: hidden;
}