.link {
	display: inline-block;
	&_display_block {
		display: block;
	}
	&_color_blue {
		color: #4184D3;
		&:hover, &:focus {
			color: #4184D3;
		}
	}
	&_color_red {
		color: #D34141;
		&:hover, &:focus {
			color: #D34141;
		}
	}
	&_color_green {
		color: #47CA6F;
		&:hover, &:focus {
			color: #47CA6F;
		}
	}
	&_color_primary {
		color: #222;
		&:hover, &:focus {
			color: #222;
		}
	}
	&_color_grey_light {
		color: #DFDFDF;
		&:hover, &:focus {
			color: #000;
		}
	}
	&_decoration {
		text-decoration: underline;
		&:hover {
			// text-decoration: none;
		}
	}
	&_decoration_none {
		text-decoration: none;
	}
	&_weight_bold {
		font-weight: 700;
	}
	&_weight_medium {
		font-weight: 500;
	}
	&_collapse {
		padding: 5px 10px;
	}
	&_margin_s {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	&_margin_none {
		margin: 0;
	}
	&_hidden {
		opacity: 0;
		visibility: hidden;
	}
	&_visible {
		opacity: 1;
		visibility: visible;
	}
}