.marker {
	display: inline-block;
	padding: 6px 20px 6px 11px;

	font-size: 12px;
	font-weight: 700;
	color: #fff;

	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	&_free {
		background-image: url('../images/design/mark.png');
	}
	&_red {
		background-image: url('../images/design/mark_red.png');

	}
}