.modal {
	&_constructor {
		.modal-dialog {
			max-width: 1070px;
			// padding-left: 15px;
			// padding-right: 15px;
		}
		.modal-content {
			position: relative;
			border: 1px solid #E5E5E5;
			padding: 40px 15px 20px;

			border-radius: 5px;
			background-color: #fff;
			box-shadow: 0 1px 7px rgba(#000, .07);
			@include md() {
				padding: 42px 50px;
			}
		}
		.close {
			position: absolute;
			top: 0;
			right: 0;

			margin: 0;
			border-left: 1px solid #E2E2E2;
			border-bottom: 1px solid #E2E2E2;
			padding: 25px 10px 18px;
			.icon {
				color: #AD8D99;
				font-size: 16px;
			}
		}
		.modal-header {
			border-bottom: none;
			padding: 0;
		}
	}
	&_constructor-item {
		.modal-dialog {
			max-width: 780px;
			// padding-left: 15px;
			// padding-right: 15px;
		}
		.nav-tabs {
			padding-right: 50px;
		}
		.close {
			position: absolute;
			top: 0;
			right: 15px;
		}
		.icon-close {
			font-size: 20px;
			color: #AD8D99;
		}
		.articles-wrap {
			margin: 0;
		}
		h4 {
			font-size: 12px;
			font-weight: 700;
			color: #444;
			margin-bottom: 10px;
		}
		.tab-content {
			padding-left: 15px;
			padding-right: 15px;
			@include md() {
				padding-left: 40px;
				padding-right: 40px;
			}
		}
		.tab-content__form-group {
			margin-bottom: 20px;
			@include md() {
				margin-bottom: 30px;
			}
		}
	}
}
.modal__dialog {
	max-width: 941px;
}
.modal__content {
	border-radius: 5px;
	border: none;
	box-shadow: 0 1px 7px rgba(#000, .07);
	margin-left: 10px;
	margin-right: 10px;
	
}
.modal__close {
	position: absolute;
	top: 0;
	right: 0;

	width: 44px;
	height: 100%;
	border-left: 1px solid #eee !important;
}

.modal__info {
	margin-bottom: 15px;
	margin-top: 15px;
	@include md() {
		margin-top: 0;
	}
}

.modal__form-group {
	margin-bottom: 14px;
}

.v-dialog__content--active {
	background-color: rgba(#000, .5);
}
.v-dialog:not(.v-dialog--fullscreen) {
	max-height: 100%;
	height: 100%;
}
.v-dialog {
	margin: 0;
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	opacity: 0;
	visibility: hidden;
	transition: none;
	& > * {
		margin: 20px auto !important;
		flex: 0 1 auto;
	}
	.card {
		max-width: 300px;
		width: 100%;
		// flex: 0 0 auto;
		margin: 20px auto 20px;
	}
	.articles-wrap {
		max-width: 800px;
	}
	.articles-wrap.articles-wrap_margin_none {
		margin: 20px auto !important;

	}
	&--active {
		opacity: 1;
		visibility: visible;

		transition: .5s linear .3s;
	}
}

.modal__scroll-wrap {
	padding: 15px 10px 0;
	border: 1px solid #E2E2E2;
	border-radius: 4px;
	margin-top: 15px;
	position: relative;
	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	height: 45px;
	// 	width: 100%;
	// 	z-index: 9999;
	// 	height: 160px;

	// 	background: url('../images/shadow.svg') 0 0 no-repeat;
	// 	background-size: cover;

	// 	// background: rgb(255,255,255);
	// 	// background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	// 	// background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	// 	// background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	// 	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
	// }
}
.modal__scroll {
	height: 575px;
}
.modal__scroll-item {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}
.modal__scroll-title {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
	@include md() {
		padding-left: 50px;
		padding-right: 0;
		margin-bottom: 60px;
	}
	h3 {
		font-size: 14px;
		font-weight: 700;
		color: #444444;
		padding-bottom: 13px;
		border-bottom: 1px solid #eee;
	}
}
.modal__scroll-row {
	padding-left: 15px;
}
.modal__scroll-column {
	text-align: center;
	margin-bottom: 20px;
	@include md() {
		margin-bottom: 40px;
	}
	img {
		margin-bottom: 15px;
		transition: linear .1s;
	}
}
.modal__link {
	display: inline-block;
	&:hover {
		text-decoration: none;
		color: #524f4f;
		img {
			transform: scale(1.2, 1.2);
		}
	}
}

.modal__form-footer {
	padding-top: 30px;
	border-top: 1px solid #eee;
}