.nav-tabs {
	background-color: #F2F2F2;
	border-bottom: 1px solid #eee;
}
.nav-tabs__item {
	border: none;
	display: flex;
	flex-direction: column;
	margin-bottom: -2px;
	&:first-child {
		.nav-tabs__link {
			&.active {
				border-left-color: transparent;
			}
		}
	}
}
.nav-tabs__link {
	min-height: 46px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-weight: 700;
	line-height: 1;
	color: #444444;
	padding: 10px 15px 10px 30px;

	justify-content: center;

	// border: 1px solid #eee;
	border: 1px solid transparent;
	opacity: .5;
	transition: opacity linear .1s;
	&.active {
		background-color: #fff;
		color: #495057;
		border-top-color: #eee;
		border-right-color: #eee;
		border-left-color: #eee;
		opacity: 1;
	}
	&:focus, &:hover {
		text-decoration: none;
	}
}