.search-form {
	position: relative;
	&_modal {
		.search-form__button {
			top: 9px;
		}
	}
}
.search-form__input {
	min-width: 215px;
	padding-right: 25px;
	opacity: .4;
	&:hover, &:focus {
		opacity: 1;
		& + .search-form__button {
			opacity: 1;
		}
	}
	& + .search-form__button {
		opacity: .4;
	}
}
.search-form__button {
	position: absolute;
	top: 4px;
	right: 7px;
}
.search-form__icon {

}
.search-form__input_opcity_none {
	opacity: 1;
	& + .searhc-form__button {
		opacity: 1;
	}
}