.selectize-tags {
	display: inline-block;
	padding: 0;
	border: none;
	// margin: 0;

	font-size: 12px;
	line-height: 12px;
	color: #444;

	box-shadow: none;
	&:hover, &:focus {
		box-shadow: none;
	}
	.selectize-input {
		display: inline-block;
		border: 1px solid #E2E2E2;
		padding: 5px 10px 4px !important;
		min-height: 30px;

		font-size: 12px;
		line-height: 12px;
		color: #444;

		border-radius: 4px 4px 0 0;
		background-color: #fff;
		box-shadow: none;
	}
	.selectize-dropdown {
		margin-top: -4px;
		padding-top: 4px !important;
		border: 1px solid #E2E2E2 !important;
		border-top-color: transparent !important;

		border-radius: 0 0 4px 4px !important;
		background-color: #fff !important;
	}
	.create {
		padding: 9px 25px;
		background-color: transparent;
		// margin-top: -2px;
	}
	.remove {
		display: inline-flex !important;
		align-items: center;
		justify-content: center;
		border-left: none !important;
		padding: 0 !important;
		
		font-size: 16px !important;
		background-color: #E2E2E2 !important;
	}
	.item {
		margin: 0 5px 0 0 !important;
		padding: 4px 5px 3px !important;

		background-color: #E2E2E2 !important;
	}
	&.plugin-remove_button [data-value] {
		padding-right: 20px !important;
	}

	.option {
		color: #444;
		padding-top: 13px;
		padding-bottom: 13px;
		&:hover {
			background-color: #F5F6FA;
		}
		&.selected {
			background-color: rgba(#E2E2E2, .5);
		}
		&.active {
			background-color: transparent;
			color: #000;
		}
	}
	.selectize-dropdown-content {
		max-height: 150px;
		border-top: 1px solid #e2e2e2;
	}
}