.select-custom {
	margin: 5px 0;
	// width: 125px;
	width: 130px;

	// font-size: 0;

	font-size: 12px;
	color: #444;
	line-height: 1;
	.selectize-input {
		display: flex !important;
		border: 1px solid #E2E2E2;
		padding: 6px 25px 6px 15px;
		min-height: 30px;

		font-size: 12px;
		line-height: 12px;
		color: #444;

		border-radius: 4px;
		background-color: #fff;
		box-shadow: none;
		&:before {
			display: none;
		}
		input {
			line-height: 19px;
		}
		.item {
			display: inline-block;

			width: 100%;
			max-width: 100px;
			line-height: 16px;

			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			
		}
	}
	.selectize-dropdown {
		@include mmd() {
			// overflow-y: auto;
		}
		.mCSB_container  {
			margin-right: 0;
		}
		.mCSB_scrollTools {
			width: 6px;
			.mCSB_dragger {
				.mCSB_dragger_bar {
					width: 4px;
					background-color: #E2E2E2;
				}
			}
		}
	}
	.selectize-dropdown-content {
		max-height: 150px;
		// overflow-x: visible;
		// overflow-y: visible;
	}
	.option {
		color: #444;
		padding-top: 13px;
		padding-bottom: 13px;
		&:hover {
			background-color: #F5F6FA;
		}
		&.selected {
			background-color: rgba(#E2E2E2, .5);
		}
		&.active {
			background-color: transparent !important;
			color: #000;
			// font-weight: 700;
		}
	}
	&.single {
		.selectize-input {
			&:after {
				// display: none;
				position: absolute;
				top: 50%;
				right: 12px;

				margin-top: 0;

				border-top-color: #DFDFDF;
				transform: translate(0, -50%);
			}
			&.dropdown-active {
				&:after {
					margin: 0;
					border-bottom-color: #DFDFDF;
					transform: translate(0, -50%);
				}
			}
		}
	}
	&_font-size_regular {
		font-size: 14px;
		.selectize-input {
			font-size: 14px;
			line-height: 16px;
			input {
				height: 16px;
			}
		}
	}
	&_width_m {
		width: 150px;
	}
	&_width_l {
		width: 180px;
	}
	&_width_xl {
		width: 200px;
		.selectize-input {
			.item {
				max-width: 150px;
			}
		}
	}

}