.sort-list {
	margin: 5px 0;
}
.sort-list__list {
	list-style: none;
	padding: 0;
	margin: 0;

	color: #444;
	line-height: 1.28;
}
.sort-list__item {
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	margin: 2px 0;
	&:after {
		content: '|';
		position: absolute;
		right: -1px;
		top: 50%;
		transform: translate(0, -50%);
		margin-top: -1px;

		color: #444;
	}
	&:last-child {
		&:after {
			display: none;
		}
	}
}
.sort-list__link {
	&:after {
		content: '(' attr(data-value) ')';
		display: inline-block;
		margin-left: 3px;

		color: #9B9B9B;
	}
}