.statistic-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #444;
	line-height: 1.28;
}
.statistic-info__name {
	font-weight: 500;
	margin-right: 5px;
	margin-left: 5px;
}
.statistic-info__value {
	margin-right: 5px;
	margin-left: 5px;
}
