.tab-content {
	@include pt(15px, 22px, $mixin-min-viewport, $mixin-max-viewport, 22px);
	@include pb(15px, 22px, $mixin-min-viewport, $mixin-max-viewport, 22px);
	@include pr(15px, 75px, $mixin-min-viewport, $mixin-max-viewport, 75px);
	@include pl(15px, 32px, $mixin-min-viewport, $mixin-max-viewport, 32px);
	background-color: #fff;
}
.tab-content__title {
	margin-bottom: 20px;
}
.tab-content__column-upload {
	max-width: 240px;
	flex: 0 0 240px;
	width: 100%;
	margin-bottom: 15px;
}
.tab-content__column-main {
	margin-bottom: 15px;
	@include sm() {
		flex: 1 1 auto;
	}
}

.tab-content__form-group {
	margin-bottom: 8px;
	.datetimepicker-input {
		margin: 0;
	}
}
.tab-content__label {
	margin-bottom: 2px;
}
.tab-content__checkbox-wrap {
	padding: 14px 23px;
}
.tab-content__checkbox-col {
	margin-bottom: 4px;
}

.tab-content__modal-row {
	// margin-bottom: 20px;
	// @include md() {
	// 	margin-bottom: 30px;
	// }
}