.table-user {
	// width: 200px;
}

.table-user {

}
.table-user__img {
	object-fit: cover;
	width: 100%;
	max-width: 75px;
	flex: 0 0 75px;
	@include md() {
		// margin-right: 10px;
		// float: left;
	}
	img {
		display: block;
		width: 65px;
		height: 65px;
		object-fit: cover;
	}
}
.table-user__link {
	display: block;
	margin-top: 5px;
	@include md() {
		display: inline-block;
	}
}

.table-user__name {
	font-weight: 700;
}
.table-user__info {
	flex: 1 1 auto;
}