.textarea {
	width: 100%;
	border: 1px solid #E2E2E2;
	padding: 10px 10px 9px;
	height: auto;
	margin: 5px 0;
	min-height: 115px;

	color: #444;

	border-radius: 4px;
	background-color: #fff;
	resize: none;
	@include iph() {
		color: #444;
	}
	&:hover, &:focus {
		outline: none !important;
		box-shadow: 0 3px 16px rgba(#000, .16);
		border-color: transparent;
	}
}

textarea.form-control {
	resize: none;
}