.tumbler {
	display: inline-block;
	position: relative;

	font-family: $OpenSans;
	color: #222;
}
.tumbler__input {
	position: absolute;
	top: 0;
	left: -9999px;
	opacity: 0;
	visibility: hidden;
	&:checked {
		& + .tumbler__label {
			.tumbler__trigger {
				background-color: #47CA6F;
			}
			.tumbler__trigger-in {
				left: 100%;
				margin-left: -17px;
			}
		}
	}
}
.tumbler__label {
	position: relative;
	padding-left: 38px;
	margin: 0;
	&:before {
		content: '';

	}
}
.tumbler__trigger {
	position: absolute;
	top: 50%;
	left: 0;

	border: 1px solid #E8E8E8;
	width: 37px;
	height: 18px;

	background-color: #fff;
	border-radius: 50px;
	transition: linear .1s;
	&_centered {
		top: 50%;
		transform: translate(0, -50%);
	}
}
.tumbler__trigger-in {
	position: absolute;
	top: -1px;
	left: -1px;

	background-color: #fff;
	border-radius: 50%;

	width: 18px;
	height: 18px;

	box-shadow: 0 2px 6px rgba(#000, .1);
	transition: linear .1s;
	&:after {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 9px;
		height: 9px;

		background-color: #47CA6F;
		border-radius: 50%;
	}
}
.tumbler__label-in {
	display: inline-block;
	padding-left: 20px;
}