<aside class="aside-category" data-id="aside-category">
	<button class="aside-category__close close close_white d-md-none" type="button" data-close="aside-category">
		<span class="icon" aria-hidden="true">×</span>
	</button>
	<div class="aside-category__in scroll-aside-style" data-id="fixedOnScroll" id="aside-accordions" data-scroll="axisY">
		<div class="d-flex flex-column d-md-block">
			<ul class="aside-category__list">
				<li class="aside-category__item">
					<a class="aside-category__link" data-toggle="collapse"  href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
						<div class="aside-category__name category-name">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-dashboard-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-dashboard-blue"></use>
								</svg>
							</div>
							<div class="category-name__txt">Консоль</div>
						</div>
					</a>
					<div class="aside-category__collapse collapse show" data-parent="#aside-accordions" id="collapseExample1" data-id="aside-category-collapse">
						<button class="collapse__close close close_white d-md-none" type="button" data-close="aside-category-collapse">
							<span class="icon" aria-hidden="true">×</span>
						</button>
						<div class="collapse__category-name category-name category-name_green d-md-none">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-magazine-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-magazine-blue"></use>
								</svg>
							</div>
							<div class="category-name__txt">Консоль</div>
						</div>
						<div class="collapse__menu-wrap collapse__menu-wrap_mobile_height_full collapse__menu-wrap_background_dark_light">
							<ul class="collapse__menu">
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Консоль 1</span>
									</a>
								</li>
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Консоль 2</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="aside-category__item">
					<a class="aside-category__link collapsed" data-toggle="collapse"  href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
						<div class="aside-category__name category-name">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-gallery-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-gallery-blue"></use>
								</svg>
							</div>
							<div class="category-name__txt">Медиа</div>
						</div>
					</a>
					<div class="aside-category__collapse collapse" data-parent="#aside-accordions" id="collapseExample2" data-id="aside-category-collapse">
						<button class="collapse__close close close_white d-md-none" type="button" data-close="aside-category-collapse">
							<span class="icon" aria-hidden="true">×</span>
						</button>
						<div class="collapse__category-name category-name category-name_green d-md-none">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-magazine-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-magazine-blue"></use>
								</svg>
							</div>
							<div class="category-name__txt">Медиа</div>
						</div>
						<div class="collapse__menu-wrap collapse__menu-wrap_mobile_height_full collapse__menu-wrap_background_dark_light">
							<ul class="collapse__menu">
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Медиа 1</span>
									</a>
								</li>
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Медиа 2</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="aside-category__item">
					<a class="aside-category__link collapsed" data-toggle="collapse"  href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
						<div class="aside-category__name category-name">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-comment-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-comment-blue"></use>
								</svg>
								<span class="category-name__indicator indicator">1</span>
							</div>
							<div class="category-name__txt">Комментарии</div>
						</div>
					</a>
					<div class="aside-category__collapse collapse" data-parent="#aside-accordions" id="collapseExample3" data-id="aside-category-collapse">
						<button class="collapse__close close close_white d-md-none" type="button" data-close="aside-category-collapse">
							<span class="icon" aria-hidden="true">×</span>
						</button>
						<div class="collapse__category-name category-name category-name_green d-md-none">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-magazine-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-magazine-blue"></use>
								</svg>
							</div>
							<div class="category-name__txt">Комментарии</div>
						</div>
						<div class="collapse__menu-wrap collapse__menu-wrap_mobile_height_full collapse__menu-wrap_background_dark_light">
							<ul class="collapse__menu">
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Комментарии 1</span>
									</a>
								</li>
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Комментарии 2</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="aside-category__item">
					<a class="aside-category__link collapsed" data-toggle="collapse"  href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
						<div class="aside-category__name category-name">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-user-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-user-blue"></use>
								</svg>
							</div>
							<div class="category-name__txt">Пользователи</div>
						</div>
					</a>
					<div class="aside-category__collapse collapse" data-parent="#aside-accordions" id="collapseExample4" data-id="aside-category-collapse">
						<button class="collapse__close close close_white d-md-none" type="button" data-close="aside-category-collapse">
							<span class="icon" aria-hidden="true">×</span>
						</button>
						<div class="collapse__category-name category-name category-name_green d-md-none">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-magazine-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-magazine-blue"></use>
								</svg>
							</div>
							<div class="category-name__txt">Пользователи</div>
						</div>
						<div class="collapse__menu-wrap collapse__menu-wrap_mobile_height_full collapse__menu-wrap_background_dark_light">
							<ul class="collapse__menu">
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Пользователи 1</span>
									</a>
								</li>
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Пользователи 2</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="aside-category__item">
					<a class="aside-category__link collapsed" data-toggle="collapse"  href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
						<div class="aside-category__name category-name">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-magazine-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-magazine-blue"></use>
								</svg>
							</div>
							<div class="category-name__txt">Статьи</div>
						</div>
					</a>
					<div class="aside-category__collapse collapse" data-parent="#aside-accordions" id="collapseExample5" data-id="aside-category-collapse">
						<button class="collapse__close close close_white d-md-none" type="button" data-close="aside-category-collapse">
							<span class="icon" aria-hidden="true">×</span>
						</button>
						<div class="collapse__category-name category-name category-name_green d-md-none">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-magazine-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-magazine-blue"></use>
								</svg>
							</div>
							<div class="category-name__txt">Статьи</div>
						</div>
						<div class="collapse__menu-wrap collapse__menu-wrap_mobile_height_full collapse__menu-wrap_background_dark_light">
							<ul class="collapse__menu">
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Все статьи</span>
									</a>
								</li>
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Категории</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="aside-category__item">
					<a class="aside-category__link collapsed" data-toggle="collapse"  href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6">
						<div class="aside-category__name category-name">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-box-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-box-blue"></use>
								</svg>
							</div>
							<div class="category-name__txt">Продукция</div>
						</div>
					</a>
					<div class="aside-category__collapse collapse" data-parent="#aside-accordions" id="collapseExample6" data-id="aside-category-collapse">
						<button class="collapse__close close close_white d-md-none" type="button" data-close="aside-category-collapse">
							<span class="icon" aria-hidden="true">×</span>
						</button>
						<div class="collapse__category-name category-name category-name_green d-md-none">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-magazine-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-magazine-blue"></use>
								</svg>
							</div>
							<div class="category-name__txt">Продукция</div>
						</div>
						<div class="collapse__menu-wrap collapse__menu-wrap_mobile_height_full collapse__menu-wrap_background_dark_light">
							<ul class="collapse__menu">
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Продукция 1</span>
									</a>
								</li>
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Продукция 2</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="aside-category__item">
					<a class="aside-category__link collapsed" data-toggle="collapse"  href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample7">
						<div class="aside-category__name category-name">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-cogs-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-cogs-blue"></use>
								</svg>
							</div>
							<div class="category-name__txt">Настройки</div>
						</div>
					</a>
					<div class="aside-category__collapse collapse" data-parent="#aside-accordions" id="collapseExample7" data-id="aside-category-collapse">
						<button class="collapse__close close close_white d-md-none" type="button" data-close="aside-category-collapse">
							<span class="icon" aria-hidden="true">×</span>
						</button>
						<div class="collapse__category-name category-name category-name_green d-md-none">
							<div class="category-name__icon-wrap">
								<svg class="category-name__icon icon icon-magazine-blue">
									<use xlink:href="images/svg-sprite/map.svg#icon-magazine-blue"></use>
								</svg>
							</div>
							<div class="category-name__txt">Настройки</div>
						</div>
						<div class="collapse__menu-wrap collapse__menu-wrap_mobile_height_full collapse__menu-wrap_background_dark_light">
							<ul class="collapse__menu">
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Настройки 1</span>
									</a>
								</li>
								<li class="collapse__menu-item">
									<a class="collapse__menu-link" href="#">
										<span class="category-name category-name_font-weight_light category-name_font-famile_montserrat">Настройки 2</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</aside>