<footer class="footer" data-id="footer">
	<div class="container-fluid">
		<div class="row justify-content-center justify-content-sm-between alig-items-center">
			<div class="padding">
				<div class="row align-items-center justify-content-center">
					<div class="padding">
						<a href="#" class="logo">
							<img src="images/content/logo.png"
							srcset="images/content/logo@2x.png 2x,
							images/content/logo@3x.png 3x"
							alt="Images" />
						</a>
					</div>
					<div class="padding">
						<div class="footer__content">
							<div>&copy; WebSite Builder, 2019</div>
							<a class="link-decoration" href="#">Политика конфиденциальности</a>
						</div>
					</div>
				</div>
			</div>
			<div class="padding">
				<div class="footer__content">
					<a class="d-block" href="tel:+998981234567 ">+998 (98) 123-45 67 </a>
					<button class="button-clr link-decoration d-block" type="button" data-toggle="modal" data-target="#callBack">Связаться с нами</button>
				</div>
			</div>
		</div>
	</div>
</footer>


<div class="modal fade" id="callBack" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Заказать обратный звонок</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
				<button type="button" class="btn btn-primary">Отправить</button>
			</div>
		</div>
	</div>
</div>