<header class="header" data-id="header">
	<div class="container-fluid">
		<div class="row justify-content-between align-items-center">
			<div class="padding">
				<div class="row align-items-center">
					<div class="padding">
						<a href="#" class="logo">
							<img src="images/content/logo.png"
								srcset="images/content/logo@2x.png 2x,
										images/content/logo@3x.png 3x"
								alt="Images" />
						</a>
					</div>
					<div class="padding">
						<div class="dropdown lang">
							<button class="lang__button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ru</button>
							<div class="dropdown-menu dropdown-menu_width_auto" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Test</a>
								<a class="dropdown-item" href="#">Test</a>
								<a class="dropdown-item" href="#">Test</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="header__sites padding ml-md-auto">
				<a href="#" class="button button_green">Мои сайты</a>
			</div> -->
			<div class="padding">
				<div class="row align-items-center flex-row-reverse flex-md-row">
					<div class="padding">
						<div class="dropdown balance">
							<button class="balance__button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="balance__name">Баланс:</span>
								<span>300$</span>
							</button>
							<div class="dropdown-menu dropdown-menu_width_auto" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">
									<span class="balance__button">&euro;</span>
								</a>
								<a class="dropdown-item" href="#">
									<span class="balance__button">&yen;</span>
								</a>
								<a class="dropdown-item" href="#">
									<span class="balance__button">&pound;</span>
								</a>
							</div>
						</div>
					</div>
					<div class="padding">
						<div class="header__personal dropdown personal">
							<button class="personal__button button-clr dropdown-toggle dropdown-toggle_carret_none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="personal__img">
									<img src="images/content/user.png"
									srcset="images/content/user@2x.png 2x,
											images/content/user@3x.png 3x"
									alt="Images" />
								</span>
								<span class="personal__name">Иван Иванов</span>
								<svg class="personal__icon icon icon_color_grey_dark icon-dots">
									<use xlink:href="images/svg-sprite/map.svg#icon-dots">
								</svg>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Test</a>
								<a class="dropdown-item" href="#">Test</a>
								<a class="dropdown-item" href="#">Test</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header__hamburger-wrap padding d-md-none">
				<button class="header__hamburger button-clr circle circle_green" type="button" data-open="aside-category">
					<svg class="icon icon-menu">
						<use xlink:href="images/svg-sprite/map.svg#icon-menu"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>
</header>