<header class="header header_background_none header_fixed">
	<div class="container-fluid">
		<div class="row justify-content-center justify-content-md-between align-items-center">
			<div class="padding">
				<div class="row align-items-center">
					<div class="padding">
						<a href="#" class="logo">
							<img src="images/content/logo.png"
								srcset="images/content/logo@2x.png 2x,
										images/content/logo@3x.png 3x"
								alt="Images" />
						</a>
					</div>
					<div class="padding">
						<div class="dropdown lang lang_white lang_opacity">
							<button class="lang__button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ru</button>
							<div class="lang__menu dropdown-menu dropdown-menu_width_auto" aria-labelledby="dropdownMenuButton">
								<a class="lang__item dropdown-item" href="#">UZ</a>
								<a class="lang__item dropdown-item" href="#">en</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="padding">
				<div class="row align-items-center">
					<div class="padding">
						<div class="dropdown balance balance_white">
							<button class="balance__button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="balance__name">Баланс:</span>
								<span>300$</span>
							</button>
							<div class="dropdown-menu dropdown-menu_width_auto" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">
									<span class="balance__button">&euro;</span>
								</a>
								<a class="dropdown-item" href="#">
									<span class="balance__button">&yen;</span>
								</a>
								<a class="dropdown-item" href="#">
									<span class="balance__button">&pound;</span>
								</a>
							</div>
						</div>
					</div>
					<div class="padding">
						<div class="dropdown personal personal_white">
							<button class="personal__button button-clr dropdown-toggle dropdown-toggle_carret_none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="personal__img">
									<img src="images/content/user.png"
									srcset="images/content/user@2x.png 2x,
											images/content/user@3x.png 3x"
									alt="Images" />
								</span>
								<span class="personal__name">Иван Иванов</span>
								<svg class="personal__icon-dots icon icon-dots">
									<use xlink:href="images/svg-sprite/map.svg#icon-dots">
								</svg>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Профиль</a>
								<a class="dropdown-item" href="#">Настройки</a>
								<a class="dropdown-item" href="#">Выход</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>