<div class="loader cog-wheels" data-id="loading">
	<svg
		xmlns:dc="http://purl.org/dc/elements/1.1/"
		xmlns:cc="http://creativecommons.org/ns#"
		xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		xmlns:svg="http://www.w3.org/2000/svg"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		width="386.43298"
		height="419"
		viewBox="0 0 386.43298 419"
		version="1.1"
		xml:space="preserve"
		style="clip-rule:evenodd;fill-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41420996"
		id="svg21"
		sodipodi:docname="cogs.svg"
		inkscape:version="0.92.3 (2405546, 2018-03-11)"><metadata
		id="metadata27"><rdf:RDF><cc:Work
		rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
		rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
		id="defs25" /><sodipodi:namedview
		pagecolor="#ffffff"
		bordercolor="#666666"
		borderopacity="1"
		objecttolerance="10"
		gridtolerance="10"
		guidetolerance="10"
		inkscape:pageopacity="0"
		inkscape:pageshadow="2"
		inkscape:window-width="1920"
		inkscape:window-height="1027"
		id="namedview23"
		showgrid="false"
		fit-margin-top="0"
		fit-margin-left="0"
		fit-margin-right="0"
		fit-margin-bottom="0"
		inkscape:zoom="0.39333333"
		inkscape:cx="192.64799"
		inkscape:cy="209.5"
		inkscape:window-x="-8"
		inkscape:window-y="-8"
		inkscape:window-maximized="1"
		inkscape:current-layer="svg21" />
		<rect
			x="-259.35199"
			y="-207.5"
			id="rect2"
			width="0"
			height="0"
			style="fill:#ebebeb" />
		<g
			id="g19"
			transform="translate(-107.35201,-90.5)">
			<circle
				id="circle-yellow"
				cx="393.785"
				cy="409.5"
				r="100"
				fill="transparent" />
			<g
				id="g7">
				<path
					class="cog-yellow"
					d="m 378.75,310.637 c -6.476,0.985 -12.839,2.603 -18.999,4.832 l 0.962,15.729 c -5.814,2.455 -11.337,5.551 -16.466,9.229 l -12.915,-9.028 c -5.115,4.091 -9.817,8.675 -14.036,13.685 l 8.696,13.14 c -3.807,5.034 -7.042,10.476 -9.644,16.226 l -15.699,-1.361 c -2.385,6.101 -4.165,12.421 -5.314,18.869 l 14.102,7.032 c -0.781,6.263 -0.861,12.593 -0.24,18.874 l -14.276,6.671 c 0.985,6.476 2.604,12.839 4.833,18.998 l 15.728,-0.961 c 2.456,5.814 5.551,11.336 9.23,16.465 l -9.028,12.915 c 4.091,5.116 8.674,9.818 13.684,14.037 l 13.141,-8.697 c 5.033,3.807 10.475,7.042 16.225,9.645 l -1.36,15.699 c 6.1,2.385 12.42,4.164 18.869,5.313 l 7.031,-14.101 c 6.263,0.78 12.594,0.861 18.875,0.239 l 6.67,14.276 c 6.476,-0.985 12.84,-2.603 18.999,-4.832 l -0.962,-15.729 c 5.814,-2.455 11.337,-5.551 16.466,-9.229 l 12.915,9.028 c 5.116,-4.091 9.817,-8.675 14.036,-13.685 l -8.696,-13.14 c 3.807,-5.034 7.042,-10.476 9.645,-16.226 l 15.698,1.361 c 2.385,-6.101 4.165,-12.421 5.314,-18.869 l -14.102,-7.032 c 0.781,-6.263 0.861,-12.593 0.24,-18.874 l 14.276,-6.671 c -0.985,-6.476 -2.604,-12.839 -4.833,-18.998 l -15.728,0.961 c -2.456,-5.814 -5.551,-11.336 -9.23,-16.465 l 9.028,-12.915 c -4.091,-5.116 -8.674,-9.818 -13.684,-14.037 l -13.14,8.697 c -5.034,-3.807 -10.476,-7.042 -16.226,-9.645 l 1.361,-15.699 c -6.101,-2.385 -12.421,-4.164 -18.87,-5.313 l -7.031,14.101 c -6.263,-0.78 -12.594,-0.861 -18.875,-0.239 z m 10.104,79.48 c 10.698,-2.721 21.592,3.755 24.313,14.452 2.722,10.698 -3.754,21.592 -14.452,24.314 -10.697,2.721 -21.592,-3.755 -24.313,-14.452 -2.721,-10.698 3.754,-21.592 14.452,-24.314 z"
					id="path5"
					inkscape:connector-curvature="0"
					style="fill:#fcbe06" />
			</g>
			<circle
				id="circle-blue"
				cx="306.785"
				cy="190.5"
				r="100"
				fill="transparent" />
			<g id="g12">
				<path class="cog-blue" d="m 291.75,91.637 c -6.476,0.985 -12.839,2.603 -18.999,4.832 l 0.962,15.729 c -5.814,2.455 -11.337,5.551 -16.466,9.229 l -12.915,-9.028 c -5.115,4.091 -9.817,8.675 -14.036,13.685 l 8.696,13.14 c -3.807,5.034 -7.042,10.476 -9.644,16.226 l -15.699,-1.361 c -2.385,6.101 -4.165,12.421 -5.314,18.869 l 14.102,7.032 c -0.781,6.263 -0.861,12.593 -0.24,18.874 l -14.276,6.671 c 0.985,6.476 2.604,12.839 4.833,18.998 l 15.728,-0.961 c 2.456,5.814 5.551,11.336 9.23,16.465 l -9.028,12.915 c 4.091,5.116 8.674,9.818 13.684,14.037 l 13.141,-8.697 c 5.033,3.807 10.475,7.042 16.225,9.645 l -1.36,15.699 c 6.1,2.385 12.42,4.164 18.869,5.313 l 7.031,-14.101 c 6.263,0.78 12.594,0.861 18.875,0.239 l 6.67,14.276 c 6.476,-0.985 12.84,-2.603 18.999,-4.832 l -0.962,-15.729 c 5.814,-2.455 11.337,-5.551 16.466,-9.229 l 12.915,9.028 c 5.116,-4.091 9.817,-8.675 14.036,-13.685 l -8.696,-13.14 c 3.807,-5.034 7.042,-10.476 9.645,-16.226 l 15.698,1.361 c 2.385,-6.101 4.165,-12.421 5.314,-18.869 l -14.102,-7.032 c 0.781,-6.263 0.861,-12.593 0.24,-18.874 l 14.276,-6.671 c -0.985,-6.476 -2.604,-12.839 -4.833,-18.998 l -15.728,0.961 c -2.456,-5.814 -5.551,-11.336 -9.23,-16.465 l 9.028,-12.915 c -4.091,-5.116 -8.674,-9.818 -13.684,-14.037 l -13.14,8.697 c -5.034,-3.807 -10.476,-7.042 -16.226,-9.645 l 1.361,-15.699 c -6.101,-2.385 -12.421,-4.164 -18.87,-5.313 l -7.031,14.101 c -6.263,-0.78 -12.594,-0.861 -18.875,-0.239 z m 10.104,79.48 c 10.698,-2.721 21.592,3.755 24.313,14.452 2.722,10.698 -3.754,21.592 -14.452,24.314 -10.697,2.721 -21.592,-3.755 -24.313,-14.452 -2.721,-10.698 3.754,-21.592 14.452,-24.314 z" id="path10" inkscape:connector-curvature="0" style="fill:#006fa2" />
			</g>
			<circle
				id="circle-red"
				cx="207.35201"
				cy="357.83499"
				r="100"
				fill="transparent" />

			<g
				id="g17">
				<path
					class="cog-red"
					d="m 217.154,258.316 c -6.519,-0.642 -13.085,-0.642 -19.604,0 l -2.945,15.48 c -6.24,0.947 -12.355,2.585 -18.233,4.886 l -10.291,-11.933 c -5.966,2.703 -11.652,5.986 -16.977,9.801 l 5.189,14.879 c -4.93,3.94 -9.407,8.416 -13.347,13.347 l -14.879,-5.189 c -3.815,5.325 -7.098,11.011 -9.801,16.977 l 11.933,10.291 c -2.3,5.877 -3.939,11.993 -4.886,18.233 l -15.479,2.945 c -0.642,6.519 -0.642,13.085 0,19.604 l 15.479,2.945 c 0.947,6.24 2.586,12.356 4.886,18.233 l -11.933,10.291 c 2.703,5.966 5.986,11.652 9.801,16.977 l 14.879,-5.189 c 3.94,4.931 8.417,9.407 13.347,13.347 l -5.189,14.879 c 5.325,3.815 11.011,7.098 16.977,9.801 l 10.291,-11.933 c 5.878,2.301 11.993,3.939 18.233,4.886 l 2.945,15.479 c 6.519,0.642 13.085,0.642 19.604,0 l 2.945,-15.479 c 6.24,-0.947 12.356,-2.585 18.233,-4.886 l 10.291,11.933 c 5.966,-2.703 11.653,-5.986 16.977,-9.801 l -5.189,-14.879 c 4.931,-3.94 9.407,-8.416 13.347,-13.347 l 14.879,5.189 c 3.815,-5.325 7.098,-11.011 9.802,-16.977 l -11.934,-10.291 c 2.301,-5.877 3.939,-11.993 4.886,-18.233 l 15.48,-2.945 c 0.642,-6.519 0.642,-13.085 0,-19.604 l -15.48,-2.945 c -0.947,-6.24 -2.585,-12.356 -4.886,-18.233 l 11.934,-10.291 c -2.704,-5.966 -5.987,-11.652 -9.802,-16.977 l -14.879,5.189 c -3.94,-4.931 -8.416,-9.407 -13.347,-13.347 L 265.6,276.55 c -5.324,-3.815 -11.011,-7.098 -16.977,-9.801 l -10.291,11.933 c -5.877,-2.301 -11.993,-3.939 -18.233,-4.886 z m -9.802,79.519 c 11.038,0 20,8.962 20,20 0,11.038 -8.962,20 -20,20 -11.038,0 -20,-8.962 -20,-20 0,-11.038 8.962,-20 20,-20 z"
					id="path15"
					inkscape:connector-curvature="0"
					style="fill:#e5554e" />
			</g>
		</g>
	</svg>
</div>