<script src="js/libs/jquery.js"></script>
<script src="js/libs/popper.js"></script>
<script src="js/libs/bootstrap.js"></script>
<script src="js/libs/moment.js"></script>
<script src="js/libs/tempusdominus-bootstrap-4.min.js"></script>
<script src="js/libs/picturefill.js"></script>
<script src="js/libs/svg4everybody.js"></script>
<script src="js/libs/jquery.mousewheel.js"></script>
<script src="js/libs/jquery.mCustomScrollbar.js"></script>
<script src="js/libs/microplugin.js"></script>
<script src="js/libs/sifter.js"></script>
<script src="js/libs/selectize.js"></script>
<script src="js/main.js"></script>